<div class="card border-0">
    <div class="card-body">
        <form [formGroup]="fm" *ngIf="fm" (submit)="onSubmit()" class="user">
            <h3 class="font-weight-bold mb-4">{{ 'lblInforUser' | translate }}</h3>

            <div class="row">
                <div class="col-12 col-md-4 col-lg-4">
                    <div class="form-group text-center">
                        <div *ngIf="avatar" class="imagesThumb">
                            <div *ngFor="let item of avatar.data; let i = index" class="rounded-circle">
                                <img *ngIf="item.type == 0 || item.type == 1" [src]="item.src" />
                                <span *ngIf="item.type == 0 || item.type == 1" (click)="avatar._change($event, item)"
                                    class="change">
                                    <i class="far fa-image"></i>
                                </span>
                                <span *ngIf="item.type == 0 || item.type == 1" (click)="avatar._del(i)" class="del">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span *ngIf="item.type == 2" (click)="avatar._push($event)" class="add">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                            <input type="file" id="avatar" (change)="avatar._onchange($event)">
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-8">
                    <div class="form-group mb-2 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">{{ 'FECustomer.code' | translate }}: </label>
                        <div>&nbsp;{{info.code}}</div>
                    </div>
                    <div class="form-group mb-2 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">{{ 'FECustomer.name' | translate }}: </label>
                        <div>&nbsp;{{info.name}}</div>
                    </div>
                    <div class="form-group mb-2 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">{{ 'FECustomer.birth_date' | translate }}:
                        </label>
                        <div>&nbsp;{{globals.time.date(info.birth_date)}}</div>
                    </div>
                    <div class="form-group mb-2 d-flex">
                        <label style="width: 20%; color:#5f5f5f">{{ 'FECustomer.gender' | translate }}: </label>
                        <div>&nbsp;{{(info.sex == 1 ? 'FECustomer.male' : 'FECustomer.female') |
                            translate}}</div>
                    </div>

                    <div class="form-group mt-3 mb-2 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">
                            {{ 'FECustomer.email' | translate }}:
                        </label>
                        <div class="w-50 ml-2">
                            <input type="email" class="form-control" name="email" formControlName="email"
                                [placeholder]="'FECustomer.email' | translate" autocomplete="off">
                            <small class="text-danger" *ngIf="!fm.get('email').valid && fm.get('email').touched">
                                {{ 'message.email' | translate }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group mt-3 mb-2 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">
                            {{ 'FECustomer.phone' | translate }}:
                        </label>
                        <div class="w-50 ml-2">
                            <input type="tel" class="form-control form-control" name="phone" formControlName="phone"
                                [placeholder]="'FECustomer.phone' | translate" minlength="10" maxlength="11"
                                autocomplete="off">
                            <small class="text-danger" *ngIf="!fm.get('phone').valid && fm.get('phone').touched">
                                {{ 'message.phone' | translate }}
                            </small>
                        </div>
                    </div>
                    <div class="form-group mt-3 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">
                            {{ 'FECustomer.address' | translate }}:
                        </label>
                        <div>&nbsp;{{info.address}}</div>
                    </div>

                    <div class="form-group mt-3 mb-2 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">
                            {{ 'FECustomer.facebook' | translate }}:
                        </label>
                        <input type="text" class="form-control form-control w-50 ml-2" name="facebook"
                            formControlName="facebook" [placeholder]="'FECustomer.facebook' | translate">
                    </div>
                    <div class="form-group mt-3 mb-2 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">{{ 'FECustomer.weight' | translate
                            }}:</label>
                        <input type="number" class="form-control form-control w-50 ml-2" name="weight"
                            formControlName="weight" [placeholder]="'FECustomer.weight' | translate">
                    </div>
                    <div class="form-group mt-3 mb-2 d-flex">
                        <label class="mb-3 mb-md-2" style="width: 20%; color:#5f5f5f">{{ 'FECustomer.height' | translate
                            }}:</label>
                        <input type="number" class="form-control form-control w-50 ml-2" name="height"
                            formControlName="height" [placeholder]="'FECustomer.height' | translate">
                    </div>

                    <div class="mt-4 mt-lg-5" style="margin-left: 20%;">
                        <button type="submit" [disabled]="!fm.valid" class="btn btn-success px-4">
                            {{ 'FEbtn.edit' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>