@import 'src/style/mixins';

.contact-icon {
    $size: 40px;
    right: $size / 1.5;
    @include viewport-sm {
        right: $size / 3;
        bottom: $size * 2 + ($size / 4);
    }
    bottom: $size * 2.75;
    z-index: $secondary-zIndex;

    &__item {
        width: $size;
        height: $size;
        box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em, rgb(0 0 0 / 25%) 0px 0.125em 0.5em,
            rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
        &:not(:first-child) {
            margin-top: 10px;
        }
    }
}
.scroll-top {
    $size: 40px;

    right: $size / 1.5;
    @include viewport-sm {
        right: $size / 3;
        bottom: $size;
    }
    bottom: $size * 1.5;
    width: $size;
    height: $size;
    line-height: $size;

    font-size: 20px;
    opacity: 0;
    z-index: $secondary-zIndex;

    &--show {
        opacity: 1;
    }
}
