<app-header></app-header>

<main class="app-body" style="min-height: calc(100vh - 90px);">
    <router-outlet></router-outlet>

    <div class="contact-icon position-fixed">
        <a class="contact-icon__item d-block rounded-circle overflow-hidden"
            *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook'" target="_blank"
            [href]="'FEHrefFacebook' | translate">
            <img src="../../../../assets/img/contact-icon-fb.jpg" width="100%" height="100%" alt="Facebook" />
        </a>
        <a class="contact-icon__item d-block rounded-circle overflow-hidden"
            *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo'" target="_blank" [href]="('FEHrefZalo' | translate)">
            <img src="../../../../assets/img/contact-icon-zalo.jpg" width="100%" height="100%" alt="Zalo" />
        </a>
        <a class="contact-icon__item d-block rounded-circle overflow-hidden"
            *ngIf="('FEPhone' | translate) != 'FEPhone'" [href]="'tel:'+('FEPhone' | translate)">
            <img src="../../../../assets/img/contact-icon-phone.jpg" width="100%" height="100%" alt="Phone" />
        </a>
    </div>

    <div class="scroll-top position-fixed rounded-circle cursor-pointer bg text-white text-center"
        (click)="handleScrollTop()" [ngClass]="{'scroll-top--show': windowScrolled}">
        <i class="fas fa-chevron-up"></i>
    </div>
</main>

<app-footer></app-footer>