<fieldset class="form p-0 p-md-5" [ngSwitch]="type">
    <form [formGroup]="fm" *ngSwitchDefault>
        <h3 class="text-uppercase" translate>FELogin.login</h3>
        <div class="form-group mt-5">
            <input class="form-control rounded border px-3" type="text" minlength="8" required formControlName="code"
                name="code" autocomplete="off" [placeholder]="'FEStudent.code' | translate" style="font-size: 1.5rem" />
            <small class="text-danger" *ngIf="fm.get('code').invalid && fm.get('code').touched"
                style="font-size: 1.3rem" translate>message.required</small>
        </div>
        <div class="form-group mt-4">
            <div class="position-relative">
                <input autocomplete="off" required (keyup.enter)="login.onSubmit()" [type]="login.type"
                    [placeholder]="'lblPassword' | translate" class="form-control rounded border px-3" name="password"
                    formControlName="password" style="font-size: 1.5rem" />
                <i (click)="login.type = login.type == 'password' ? 'text' : 'password'"
                    class="password--toggle text-muted cursor-pointer"
                    [ngClass]="login.type == 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </div>
            <small style="font-size: 1.3rem" class="text-danger"
                *ngIf="fm.get('password').invalid && fm.get('password').touched">
                {{'message.minLength' | translate : { num: 8 } }}
            </small>
        </div>
        <div class="mt-4">
            <a href="javascript:" (click)="onChange(2)" style="font-size: 1.4rem" translate>FELogin.forgotpass</a>
        </div>
        <div class="text-right">
            <button type="button" (click)="login.onSubmit()" [disabled]="!fm.valid && flag"
                class="btn bg-primary px-4 text-white" style="font-size: 1.4rem" translate>
                FELogin.login
            </button>
        </div>
    </form>

    <form [formGroup]="fmResetPassword" *ngSwitchCase="2">
        <h3 class="text-uppercase" translate>FELogin.forgotpass</h3>

        <div *ngIf="resetPassword.state" class="flex-center" style="min-height: 150px;">
            <app-loading></app-loading>
        </div>

        <div *ngIf="!resetPassword.state">
            <div class="form-group mt-5">
                <input class="form-control rounded border px-3" type="text" required formControlName="email"
                    name="email" autocomplete="off" (keyup.enter)="resetPassword.onSubmit()"
                    [placeholder]="'FELogin.checkEmail' | translate" style="font-size: 1.5rem" />
                <small class="text-danger"
                    *ngIf="fmResetPassword.get('email').invalid && fmResetPassword.get('email').touched"
                    style="font-size: 1.3rem" translate>
                    message.email
                </small>
            </div>
            <div class="mt-4">
                <a href="javascript:" (click)="onChange(1)" style="font-size: 1.4rem" translate>
                    <i class="fal fa-long-arrow-left mr-1"></i>
                    lblLogin
                </a>
            </div>
            <div class="text-right mt-4">
                <button type="button" (click)="resetPassword.onSubmit()" [disabled]="!fmResetPassword.valid && flag"
                    class="btn bg-primary px-5 text-white" style="font-size: 1.4rem" translate>
                    FEbtn.send
                </button>
            </div>
        </div>
    </form>

    <form *ngSwitchCase="3">
        <h3 class="text-uppercase" translate>FECompany.insert</h3>

        <div class="form-group mt-5">
            <input class="form-control rounded border px-3" type="text" autocomplete="off"
                (keyup.enter)="company.onSubmit()" [placeholder]="'FECompany.code' | translate"
                style="font-size: 1.5rem" [(ngModel)]="company.value" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="text-right mt-4">
            <button type="button" (click)="company.onSubmit()" class="btn bg-primary px-5 text-white"
                style="font-size: 1.4rem" translate [attr.disabled]="!company.value.length ? '' : null">
                FEbtn.check
            </button>
        </div>
    </form>

    <form [formGroup]="fmRegisterCourse" *ngSwitchCase="4">
        <h3 class="text-uppercase" translate>FEContact.registerCourse</h3>

        <div class="form-group mt-5">
            <label for="name">
                <!-- {{ 'student.fullName' | translate }} -->
                Họ tên
            </label>
            <span class="text-danger ml-1">*</span>
            <input style="font-size: 1.5rem;" class="form-control rounded border px-3" name="name" type="text"
                formControlName="name" autocomplete="off" required />
            <small class="text-danger"
                *ngIf="!fmRegisterCourse.get('name').valid && fmRegisterCourse.get('name').touched"
                translate>message.required</small>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 pr-lg-2">
                <div class="form-group">
                    <label for="email" translate>Email</label>
                    <input style="font-size: 1.5rem;" formControlName="email" name="email" type="email"
                        class="form-control rounded border px-3" autocomplete="off" />
                    <small *ngIf="!fmRegisterCourse.get('email').valid && fmRegisterCourse.get('email').touched"
                        style="color:red">
                        {{'message.email' | translate}}</small>
                </div>
            </div>
            <div class="col-12 col-md-6 pl-lg-2">
                <!-- <div class="form-group">
                    <label for="phone">
                        Số điện thoại
                    </label>
                    <input style="font-size: 1.5rem;" type="tel" class="form-control rounded border px-3" name="phone"
                        formControlName="phone" id="phone" autocomplete="off" minlength="10" maxlength="11">
                </div> -->
                <div class="form-group">
                    <label for="phone">{{ 'lblPhone' | translate }}
                        <span class="text-danger ml-1">*</span>
                    </label>
                    <input type="text" class="form-control" name="phone" formControlName="phone" id="phone"
                        class="form-control rounded border px-3" name="phone" autocomplete="off" required
                        style="font-size: 1.5rem;" maxlength="11">
                    <small *ngIf="!fmRegisterCourse.get('phone').valid && fmRegisterCourse.get('phone').touched"
                        style="color:red">
                        {{'message.phone' | translate}}</small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="group">
                <!-- {{ 'class.chooseClass' | translate }} -->
                Chọn Ngành
                <span class="text-danger">*</span>
            </label>
            <select formControlName="page_id" name="page_id" class="form-control rounded border px-3" required
                style="font-size: 1.5rem;">
                <option *ngFor="let item of registerCourse.listMajors" [value]="item.id" style="font-size: 1.6rem;">
                    {{ item.name }}
                </option>
            </select>
            <!-- <small class="text-danger"
                *ngIf="fm.get('page_id').invalid && fm.get('page_id').touched">{{'message.required'|translate}}</small> -->
        </div>

        <div class="form-group">
            <label for="message" translate>Nội dung</label>
            <!-- <input style="font-size: 1.5rem;" formControlName="message" name="message" type="message"
                class="form-control rounded border px-3" autocomplete="off" /> -->
            <textarea style="font-size: 1.5rem;" formControlName="message" class="form-control" id="message"
                rows="2"></textarea>
        </div>

        <div class="text-right">
            <button type="button" (click)="registerCourse.onSubmit()" [disabled]="!fmRegisterCourse.valid"
                class="btn bg-primary text-white mt-3 px-4 py-2" style="font-size: 1.6rem" translate>
                FEbtn.singin
            </button>
        </div>
    </form>
</fieldset>