<div class="breadcrumb-inner py-5">
    <div class="container-main">
        <div class="container-fluid">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent p-0">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['/']">{{ 'lblHome' | translate }}</a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        <span>{{ 'FESearch.search' | translate }}</span>
                    </li>
                </ol>
            </nav>
            <h1 class="color mt-4" translate>FESearch.search</h1>
        </div>
    </div>
</div>

<div class="search">
    <div class="search-result bg-light">
        <div class="container-main">
            <div class="container-fluid">
                <h1>{{ 'FESearch.result' | translate }} "{{ value }}"</h1>
                <p class="mt-2" *ngIf="(products.total + contents.total)  > 0">
                    {{ 'FESearch.haveAmount' | translate : {number : (products.total + contents.total)} }}
                    <strong (click)="srcoll('product-search')" style="cursor: pointer;" *ngIf="products.total > 0">
                        {{'FECourse.related' | translate}} ,
                    </strong>
                    <strong (click)="srcoll('content-search')" style="cursor: pointer;" *ngIf="contents.total > 0"
                        translate>
                        FESearch.news
                    </strong>
                </p>
            </div>
        </div>
    </div>

    <div class="page">
        <div class="container-main">
            <div class="container-fluid" [ngSwitch]="initialState">
                <div *ngSwitchCase="1" class="mb-5">
                    <div class="row mb-4" id="product-search" *ngIf="products.data.length > 0">
                        <div class="col-md-12">
                            <div class="course_heading text-capitalize font-weight-bold" translate>
                                FECourse.related
                            </div>
                        </div>
                        <div class="col-md-3 col-6 mb-md-5 mb-3 " *ngFor="let item of products.data; even as even; odd as odd"
                            [ngClass]="{'pr-2 pr-md-4': even, 'pl-2 pl-md-4': odd}">
                            <app-box-product [input]="item"></app-box-product>
                        </div>
                        <div class="col-md-12 d-flex justify-content-end" *ngIf="products.total > products.itemsPerPage">
                            <pagination [totalItems]="products.total" [itemsPerPage]="products.itemsPerPage"
                                [maxSize]="products.maxSize" (pageChanged)="products._change($event)" [rotate]="false"
                                [directionLinks]="true" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                                previousText="&lsaquo;" nextText="&rsaquo;">
                            </pagination>
                        </div>
                    </div>
                    <div class="row" id="content-search" *ngIf="contents.data.length > 0">
                        <div [ngClass]="typeSearch =='' ? 'col-md-12' : 'col-md-8'">
                            <div class="course_heading text-capitalize font-weight-bold" translate>
                                FESearch.news
                            </div>
                            <div class="row" *ngIf="typeSearch ==''">
                                <div class="col-md-3 col-6 mb-md-5 mb-3"
                                    *ngFor="let item of contents.data; even as even; odd as odd"
                                    [ngClass]="{'pr-2 pr-md-4': even, 'pl-2 pl-md-4': odd}">
                                    <app-box-content [input]="item" [type]="true"></app-box-content>
                                </div>
        
                            </div>
                            <div class="row" *ngIf="typeSearch !=''">
                                <div class="col-md-12 mb-md-5 mb-3" *ngFor="let item of contents.data">
                                    <box-content-grid [input]=" item" [type]="true">
                                    </box-content-grid>
                                </div>
                            </div>
                            <div class=" d-flex justify-content-end" *ngIf="contents.total > contents.itemsPerPage">
                                <pagination [totalItems]="contents.total" [itemsPerPage]="contents.itemsPerPage"
                                    [maxSize]="contents.maxSize" (pageChanged)="contents._change($event)" [rotate]="false"
                                    [directionLinks]="true" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                                    previousText="&lsaquo;" nextText="&rsaquo;">
                                </pagination>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="typeSearch !=''">
                            <aside class="news-mostview bg-light rounded-lg overflow-hidden position-sticky">
                                <h4 class="bg p-3 text-uppercase text-center font-weight-bold" translate>
                                    FEContentsDetail.mostview
                                </h4>
                                <div class="news-mostview__list">
                                    <ng-container *ngIf="dataNews && dataNews.length > 0">
                                        <box-content-grid class="d-block mb-4" *ngFor="let item of dataNews" [input]="item">
                                        </box-content-grid>
                                    </ng-container>
        
                                    <h4 *ngIf="dataNews.length === 0" class="text-center py-5" translate>lblUpdating
                                    </h4>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
        
                <div class="py-5 text-center" *ngSwitchCase="0">
                    <h2 class="font-weight-bold" translate>FESearch.notFound</h2>
                    <p class="mt-3" translate>FESearch.tryAgain</p>
                </div>
        
                <div *ngSwitchCase="-1" class="flex-center" style="min-height: 82.75vh;">
                    <app-loading></app-loading>
                </div>
            </div>
        </div>
    </div>
</div>