@import 'src/style/mixins';

.search {
    &-result {
        padding: $innerPage 0 $innerPage / 2;
    }
    &-list {
        padding: #{$inner / 2} 0 $innerPage;
        @include viewport-sm {
            padding: #{$inner / 3} 0 $innerPage;
        }
    }
}

.course_heading {
    position: relative;
    margin-bottom: 2rem;
    overflow: hidden;
    font-size: 2.5rem;
    &::after {
        content: '';
        @extend %position-center-y;
        width: 100%;
        height: 1px;
        margin-left: $inner / 3;
        background-color: #e4e4e4;
        transform: translateZ(0);
    }
}
