<form class="chips-form-bootrap" [formGroup]="fm" *ngIf="fm" (submit)="$event.stopPropagation()">
    <div class="card w-100 mb-3">
        <div class="card-header">
            <strong>
                {{ ((id && id !=0)?'class.update':'class.add') | translate : {name : fm.value.name} }}
            </strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">{{ 'class.code' | translate }}<span class="ml-2 text-danger">*</span></label>
                        <input type="text" class="form-control" name="code" id="code" autocomplete="off"
                            formControlName="code" required>
                        <small style="color:red"
                            *ngIf="fm.get('code').invalid && fm.get('code').touched">{{'message.required'|translate}}</small>
                    </div>
                    <div class="form-group">
                        <label for="name">{{ 'class.name' | translate }}<span class="ml-2 text-danger">*</span></label>
                        <input type="text" class="form-control" name="name" id="name" autocomplete="off"
                            formControlName="name" required>
                        <small style="color:red"
                            *ngIf="fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                    </div>
                    <div class="form-group">
                        <label for="name">{{ 'class.number' | translate }}</label>
                        <input type="number" class="form-control" name="number" id="number" autocomplete="off" min="0"
                            formControlName="total_student" required>
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <div class="form-group mr-3  w-100">
                            <label for="start_date">{{ 'class.startDate' | translate }}</label>
                            <input type="text" [(ngModel)]="majors.date.start" [maxDate]="majors.date.end"
                                [ngModelOptions]="{standalone: true}" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                name="start_date" class="form-control" id="start_date" bsDatepicker>
                        </div>
                        <div class="form-group w-100">
                            <label for="end_date">{{ 'class.endDate' | translate }}</label>
                            <input type="text" [(ngModel)]="majors.date.end" [minDate]="majors.date.start"
                                [ngModelOptions]="{standalone: true}" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                name="end_date" class="form-control" id="end_date" bsDatepicker>
                        </div>
                    </div> -->
                </div>

                <div class="col-md-8">
                    <div class="form-group">
                        <label for="group">{{ 'class.majors' | translate }}<span
                                class="ml-2 text-danger">*</span></label>
                        <select name="page_id" formControlName="page_id" class="form-control" id="page_id"
                            (change)="majors._choose()" required>
                            <option *ngFor="let item of majors.data" [value]="item.id">
                                {{item.name}}
                            </option>
                        </select>
                        <small style="color:red"
                            *ngIf="fm.get('page_id').invalid && fm.get('page_id').touched">{{'message.required'|translate}}</small>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="bg-light p-3" style="min-height: 156px">
                                <div class="mb-4">
                                    <h6 class="font-weight-bold mb-3">{{'class.listCourse' | translate}}</h6>
                                    <div class="input-group input-group-sm">
                                        <input type="text" (keyup)="majors._searchCourse()" style="height: 38px;"
                                            [(ngModel)]="majors.valueCourse" [ngModelOptions]="{standalone: true}"
                                            class="form-control" placeholder="{{'class.searchCourse'|translate}}">
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-3"
                                    *ngFor="let item of majors.dataCourse   | servicePipeFilter : majors.valueCourse : majors.field; let i = index">
                                    <div class="w-50 pr-4" [ngClass]="{'text-danger': item.flags}">
                                        {{i+1}}. {{item.name}}
                                    </div>
                                    <div class="form-group position-relative w-50 mb-0">
                                        <button type="button" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" data-display="static"
                                            (click)="teacher._focusSearch(item.product_id)"
                                            class="w-100 bg-white cursor-pointer p-2 d-flex align-items-center justify-content-between border rounded"
                                            style="height: 36px;">
                                            <div
                                                style=" overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                                                {{item.teacher_id == 0 ? ('class.teacherCharge' | translate) :
                                                item.name_teacher }}
                                            </div>
                                            <img src="../../../../assets/img/icon-select-down.png" alt="down" with="10"
                                                height="6">
                                        </button>
                                        <div class="dropdown-menu p-2 w-100 container-search">
                                            <div class="position-relative" (click)="$event.stopPropagation()">
                                                <input type="text" class="form-control mb-2" name="industry"
                                                    autocomplete="off" [id]="'teacher' + item.product_id"
                                                    [(ngModel)]="teacher.valueSearch"
                                                    [ngModelOptions]="{standalone: true}" autofocus
                                                    placeholder="{{ 'class.searchTeacher' | translate }}">
                                                <i class="fas fa-times cursor-pointer position-absolute icon-remove"
                                                    *ngIf="teacher.valueSearch != ''" (click)="teacher._clear()"></i>
                                            </div>
                                            <a class="dropdown-item p-2 cursor-pointer" href="javascript:;"
                                                *ngFor="let item of majors.dataTeacher | servicePipeFilter : teacher.valueSearch : teacher.field"
                                                (click)="teacher._select(item, i)">
                                                <div style="line-height: 1;" class="text-in-line">
                                                    <span class="font-weight-500">
                                                        {{ item.name != '' ? item.name : ''}}
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 alert alert-danger" role="alert" *ngIf="majors.flags">
                                    {{'class.warning'|translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-success float-right"
                *ngIf="fm.value.status == 0">
                {{'btn.save' | translate }}</button>
            <button type="button" (click)="onConfirm()" *ngIf="this.id > 0 && fm.value.status == 0"
                class="btn btn-primary float-right mr-2">
                {{'btn.confirm' | translate }}</button>
            <button type="button" [routerLink]="['/admin/class/get-list']"
                class="btn btn-secondary float-right mr-2">{{'btn.back' | translate }}</button>
        </div>
    </div>
</form>