<figure class="box bg-white overflow-hidden">
    <a class="position-relative d-block" [ngClass]="type ? 'box__img_type' : 'box__img'"
        [routerLink]="['/' + item.parent_link + '/' + item.link]">
        <img width="100%" height="100%" [lazyLoad]="item.images"
            [defaultImage]="defaultImage" [alt]="item.name" />
    </a>
    <div [ngClass]="type ? 'p-4' : 'px-5 py-4'">
        <a [routerLink]="['/' + item.parent_link + '/' + item.link]" class="d-inline-block text-decoration-none">
            <h3 class="box__title">{{ item.name }}</h3>
        </a>
        <p class="box__desc " [ngClass]="type ? 'mt-2' : 'mt-4'">
            {{ item.description }}
        </p>
    </div>
</figure>