@import 'src/style/mixins';

.box {
    border-radius: 1.6rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &:hover &__img::before,
    &:hover &__img_type::before {
        animation: shineBefore 1s;
    }
    &__img,
    &__img_type {
        height: 24rem;
        &::before {
            @include position(33%, 100%, 0, unquote(''), unquote(''), -67%, unquote(''));
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
            transform: skewX(-25deg);
        }
    }
    &__img_type {
        height: 20rem;
        @include viewport-sm {
            height: 16rem;
        }
    }
    &__title {
        height: 4.2rem;
        @extend %text-truncate-2;
        font-size: 1.8rem;
        color: $textColor;
    }
    &__desc {
        height: 7.2rem;
        @extend %text-truncate-3;
        color: $descColor;
    }
}
