<div class="card" *ngIf="!skip">
    <div class="card-header" style="cursor: pointer;">
        <strong>{{'score.title' | translate }}</strong>
        <div class="float-md-right">
            <div class="input-group input-group-sm">
                <input type="text" (keyup)="cstable._search()" [(ngModel)]="cstable.search.value" class="form-control"
                    placeholder="{{'search.lblList'|translate}}">
            </div>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngFor="let col of cstable.cols" (click)="cstable._sorting(col.field)"
                        [ngClass]="{ 'sorting' : cstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchDefault>{{col.title | translate }}</span>
                            <i *ngIf="cstable.sorting.field==col.field" class="fa ml-1"
                                [ngClass]="{ 'fa-long-arrow-down' : cstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cstable.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cstable.data;let i = index">
                    <td *ngFor="let col of cstable.cols" [ngClass]="{ 'd-none' : col.show==false}">
                        <span [(ngSwitch)]="col.field">
                            <span *ngSwitchCase="'index'">
                                {{ i + 1 }}
                            </span>
                            <div *ngSwitchCase="'name'">
                                {{item[col.field]}}
                            </div>
                            <div *ngSwitchCase="'total_student'">
                                {{item[col.field] ? item[col.field] : 0}}
                            </div>
                            <div *ngSwitchCase="'total_pass'" class="text-success font-weight-bold">
                                {{item[col.field] ? item[col.field] : 0}}
                            </div>
                            <div *ngSwitchCase="'total_nopass'" class="text-danger font-weight-bold">
                                {{item[col.field] ? item[col.field] : 0}}
                            </div>
                            <div *ngSwitchCase="'total_noscore'" class="text-danger font-weight-bold">
                                {{item[col.field] ? item[col.field] : 0}}
                            </div>
                            <span *ngSwitchCase="'action'">
                                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                                    [title]="'btn.viewScore' | translate"
                                    (click)="product_id = item.product_id; product_name = item.name; lock = item.status; skip = true; viewMode = true">
                                    <i class="fas fa-eye"></i>
                                </button>
                                <button *ngIf="item.is_lock != 1" class="btn btn-link btn-sm"
                                    [title]="'btn.enterScore' | translate"
                                    (click)="product_id = item.product_id; product_name = item.name; lock = item.is_lock; skip = true; viewMode = false">
                                    <i class="fas fa-marker text-dark"></i>
                                </button>
                                <button class="btn btn-link btn-sm " data-toggle="tooltip" data-placement="top"
                                    *ngIf="globals.USERS.get(true).type != 1 && (!item.status_end || item.status_end == 1)"
                                    title="{{( item.is_lock == 1 ? 'btn.lock' : 'btn.unlock') | translate}}"
                                    (click)="onConfirm(item.product_id, item.is_lock)">
                                    <i class="fas text-dark"
                                        [ngClass]="item.is_lock == 1 ? 'fa-lock' : 'fa-unlock'"></i>
                                </button>
                                <button class="btn btn-link btn-sm " data-toggle="tooltip" data-placement="top"
                                    *ngIf="globals.USERS.get(true).type != 1" title="{{'btn.endCourse' | translate}}"
                                    (click)="handleEndCourse(+item.status_end, +item.product_id, +item.total_noscore)">
                                    <i class="fab fa-accusoft"
                                        [ngClass]="!item.status_end || item.status_end == 1 ? 'text-dark' : 'text-success'"></i>
                                </button>
                            </span>

                            <span *ngSwitchDefault>{{item[col.field]}}</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ cstable.settings.first }} - {{ cstable.settings.last }} of {{ cstable.settings.total }}</span>
            <span>
                <a (click)="cstable._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a (click)="cstable._previousnext(true)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
        <div>
            <button type="button" *ngIf="globals.USERS.get(true).type != 1" (click)="course._onAvg()"
                class="btn btn-success float-right" [disabled]="!course.skip">
                {{'btn.avg' | translate}}
            </button>

        </div>
    </div>
</div>
<div *ngIf="skip">
    <app-process [product_id]="product_id" [class_id]="class_id" [name]="product_name" [class_name]="class_name"
        [lock]="lock" [viewMode]="viewMode" (change)="onChangeProcess($event)"></app-process>

</div>