<div class="row">
    <div class="col-4">
        <app-groupgetlist (filter)="filterEvent($event)"></app-groupgetlist>
    </div>
    <div class="col-12">
        <app-getlist [filter]="filter" [change]="changes"></app-getlist>
    </div>
</div>