<div class="card w-100">
    <div class="card-header align-items-center d-flex justify-content-between">
        <strong>{{ 'service.updateProduct' | translate : { name : serviceName } }}</strong>
        <div class="d-flex">
            <div class="alert alert-primary font-weight-500 m-0 px-3 py-2 cursor-pointer mr-3"
                 role="alert"
                 [ngClass]="{'bg-white': product.activeChoose == 1}"
                 (click)="product._filter(0)">
                {{ 'btn.all' | translate }} ({{ product.data.length | number : '1.0-3' }})
            </div>
            <div class="alert alert-primary font-weight-500 m-0 px-3 py-2 cursor-pointer"
                 role="alert"
                 [ngClass]="{'bg-white': product.activeChoose == 0 }"
                 (click)="product._filter(0, true)">
                {{ 'service.productChoosed' | translate }} ({{ product._count() | number : '1.0-3' }})
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group d-flex">
            <select class="custom-select mr-3"
                    style="width: 250px;"
                    (change)="product._filter($event.target.value)">
                <option selected
                        [value]="0">{{ 'service.allGroupProduct' | translate }}</option>
                <option *ngFor="let item of product.group"
                        [value]="item.id">
                    {{ item.name }} ({{ item.count_product || 0 }})
                </option>
            </select>
            <input type="text"
                   (keyup)="cwstable._search()"
                   [(ngModel)]="cwstable.search.value"
                   class="form-control"
                   placeholder="{{'search.lblList'|translate}}">
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="p-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               class="custom-control-input"
                               id="all"
                               [checked]="product._checkedStatusAll()"
                               (change)="product._checkAll($event.target.checked)">
                        <label class="custom-control-label cursor-pointer"
                               for="all">
                            {{ 'service.chooseAll' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-2"
                 *ngFor="let item of cwstable.data">
                <div class="p-1">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox"
                               class="custom-control-input"
                               [id]="item.id"
                               [checked]="item.checked"
                               (change)="item.checked = $event.target.checked">
                        <label class="custom-control-label cursor-pointer"
                               [for]="item.id">
                            <div>{{ item.name }}</div>
                            <small class="text-black-50">{{ item.group_name }}</small>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="float-md-left">
            <span>
                <a (click)="cwstable._previousnext(false)"
                   style="padding : 3px 5px;"
                   class="cursor-pointer">
                    <i class="fa fa-angle-double-left"
                       aria-hidden="true"></i>
                </a>
                <span>{{ cwstable.settings.first }} - {{ cwstable.settings.last }} of
                    {{ cwstable.settings.total }}</span>
                <a (click)="cwstable._previousnext(true)"
                   style="padding : 3px 5px;"
                   class="cursor-pointer">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
    </div>
</div>

<div class="fixed-action-btn text-center">
    <a class="text-white cursor-pointer"
       (click)="product._submit()"
       style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center bg-success">
            <i class="fas fa-save"
               style="font-size: 22px;"></i>
        </div>
    </a>
</div>