<div class="card">
    <div class="card-header">
        <strong>{{ page.name | translate }}</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div *ngFor="let item of data" [ngClass]="item.type == 1 ? 'col-md-6': 'col-md-12'">
                <div class="d-flex align-items-end justify-content-between mb-2" *ngIf="item.type != 3">
                    <label class="font-weight-bold m-0">{{ item.title }}</label>
                    <button type="button" class="btn btn-primary btn-sm h-100" *ngIf="item.skip == true"
                        (click)="onSubmit(item)">
                        {{ 'btn.save' | translate }}
                    </button>
                </div>
                <div [(ngSwitch)]="item.type">
                    <div *ngSwitchCase="3">
                        <div class="form-group" [ngClass]="{'d-none': item.type == 3}">
                            <label class="font-weight-bold m-0">{{ item.title }} </label>
                            <input type="text" (keyup)="tags._keyup($event)" (change)="item.skip = true"
                                class="form-control">
                            <div class="keywords mt-3" *ngIf="tags.dataList">
                                <button type="button" class="btn btn-info mr-1 mt-1"
                                    *ngFor="let item of tags.dataList">{{item}}
                                    <span class="fas fa-times-circle" (click)="tags._remove(item)"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="2" class="d-inline-block">
                        <div class="imagesThumb" *ngIf="item.images">
                            <div *ngFor="let row of item.images.data ; let i = index">
                                <img [src]="row.src" *ngIf="row.type==0 || row.type==1" />
                                <span (click)="item.images._change($event,row)" *ngIf="row.type==0 || row.type==1"
                                    class="change">
                                    <i class="far fa-image"></i>
                                </span>
                                <span (click)="item.images._del(i);item.skip = true" *ngIf="row.type==0 || row.type==1"
                                    class="del">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span (click)="item.images._push($event)" *ngIf="row.type==2" class="add">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                            <input type="file" (change)="item.images._onchange($event);item.skip = true"
                                [accept]="item.images.typeAcceptImages">
                        </div>
                    </div>
                    <div *ngSwitchCase="1">
                        <div class="form-group">
                            <input type="text" class="form-control" (change)="item.skip = true"
                                [(ngModel)]="item.value">
                        </div>
                    </div>
                    <div *ngSwitchCase="4">
                        <ckeditor id="detail" class="mb-3 d-block" [config]="globals.configCKeditor.info" data="detail"
                            [(ngModel)]="item.value" (change)="item.skip = true">
                        </ckeditor>
                    </div>
                    <span *ngSwitchDefault>
                        <div class="form-group">
                            <textarea type="text" class="form-control" (change)="item.skip = true"
                                [(ngModel)]="item.value" style="min-height: 80px"></textarea>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>