<div class="card border-0">
    <div class="card-body">
        <form class="user" [formGroup]="fm" *ngIf="fm" (keyup.enter)="changePassword.onSubmit()">
            <div class="row justify-content-center">
                <div class="col-10 col-md-5">
                    <h3 class="text-center font-weight-bold">{{ 'FECustomer.changePassword' | translate }} </h3>
                    <div class="form-group d-flex mt-4">
                        <input autocomplete="off" [type]="type" class="form-control px-3" aria-hidden="true"
                            name="password" formControlName="password"
                            placeholder="{{'FECustomer.passwordOld' | translate}}">
                        <span (click)="type = type == 'password' ? 'text' : 'password'" id="basic-addon2"
                            class="cursor-pointer">
                            <i class="fa"
                                style="position: absolute; right: 25px; z-index: 1; margin-top: 9px; font-size: 14px;"
                                [ngClass]="{'fa-eye': type=='password', 'fa-eye-slash': type=='text'}"
                                aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="form-group d-flex mt-4">
                        <input autocomplete="off" [type]="type2" class="form-control px-3" aria-hidden="true"
                            name="password_new" formControlName="password_new"
                            placeholder="{{'FECustomer.passwordNew' | translate}}">
                        <span (click)="type2 = type2 == 'password' ? 'text' : 'password'" id="basic-addon2"
                            class="cursor-pointer">
                            <i class="fa"
                                style="position: absolute;right: 25px; z-index: 1;margin-top: 9px; font-size: 14px;"
                                [ngClass]="{'fa-eye': type2=='password', 'fa-eye-slash': type2=='text'}"
                                aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="text-right mt-4">
                        <button type="button" class="btn btn-success px-4" (click)="changePassword.onSubmit()">
                            {{ 'FEbtn.confirm' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>