<div class="container-main">
    <div class="not_found text-center">
        <h2 class="fa-8x font-weight-bold">{{ 'notFound.title' | translate }}</h2>

        <h4>{{ 'notFound.message' | translate }}</h4>

        <a class="not_found__btn btn btn-outline-danger mt-4 px-4" [routerLink]="['/']">
            {{ 'notFound.reHome' | translate }}
        </a>
    </div>
</div>