<!-- Slide -->
<section class="slide-container position-relative">
    <owl-carousel-o [options]="slide.options">
        <ng-container *ngFor="let item of slide.data">
            <ng-template carouselSlide>
                <a [href]="item.link" target="_blank" rel="noopener noreferrer" class="d-block">
                    <img width="100%" height="100%" [lazyLoad]="item.images" [defaultImage]="slide.lazy_bg"
                        [alt]="item.name" />
                    <div class="container-main d-flex align-items-center w-100 h-100" *ngIf="viewport.desktop">
                        <div class="slide p-5 w-100" *ngIf="item.position && item.position >= 0 && item.position <= 3"
                            [ngClass]="item.position == 0 || item.position == 1 ? 'text-left slide--left'
                  : item.position == 2 ? 'text-center' : 'text-right slide--right'">
                            <h2 class="slide__title d-inline-block font-weight-bold px-4 py-2"
                                [ngStyle]="{'background-color': item.background ? item.background : 'transparent', color: item.color ? item.color : '#fefefe' }">
                                {{ item.title }}
                            </h2>
                            <br />
                            <p class="slide__desc d-inline-block px-4 py-2" [ngStyle]="{'background-color': item.background? item.background: 'transparent',
                  color: item.color ? item.color : '#fefefe'}">
                                {{ item.description }}
                            </p>
                            <br />
                            <a [href]="item.link" target="_blank"
                                class="slide__btn text-decoration-none text-uppercase font-weight-bold px-4 py-3"
                                [ngStyle]="{'background-color': item.background ? item.background: 'transparent', color: item.color ? item.color : '#fefefe'}">
                                <span>{{ 'lblViewMore' | translate }}</span>
                                <i class="far fa-angle-right ml-2"></i>
                            </a>
                        </div>
                    </div>
                </a>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>

<!-- Product -->
<section class="product" *ngIf="product.hot?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div class="heading__title" [innerHTML]="'heading_product_home' | translate | sanitizeHtml"></div>
            <div class="heading__desc" [innerHTML]="'description_product_home' | translate | sanitizeHtml"></div>
            <div class="product-list">
                <div class="row scroll-sm">
                    <div class="col-8 col-md-3" *ngFor="let items of product.hot | slice: 0:8">
                        <article *ngFor="let item of items; first as first" [ngClass]="{'mb-4': first}">
                            <app-box-product [input]="item"></app-box-product>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About -->
<section class="about" *ngIf="about.data.title?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="position-relative">
                        <img class="w-100 about__img" width="585" [lazyLoad]="about.data.images"
                            [defaultImage]="defaultImage" [alt]="about.data.title" />
                        <a *ngIf="about.data.link_video?.length" class="about__video text-decoration-none"
                            [href]="about.data.link_video" data-fancybox>
                            <div class="about-video d-inline-flex">
                                <i class="fas fa-play"></i>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="about__subtitle color pl-3">
                        {{ about.data.name }}
                    </p>
                    <h1 class="about__title font-weight-bold mt-4">
                        {{ about.data.title }}
                    </h1>
                    <p class="about__desc mt-4">
                        {{ about.data.description }}
                    </p>
                    <a [routerLink]="['/' + about.data.link]"
                        class="about__btn btn bg-transparent color text-capitalize mt-4 px-5 py-2">
                        {{ 'FEbtn.more' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Banner -->
<section class="banner" *ngIf="banner.data?.length">
    <div class="container-main">
        <div class="container-fluid">
            <h3 class="heading__title" translate>FEBanner.title</h3>
            <!-- <p class="heading__desc" translate>FEBanner.desc</p> -->
            <div class="banner-list">
                <owl-carousel-o [options]="banner.options">
                    <ng-container *ngFor="let item of banner.data">
                        <ng-template carouselSlide>
                            <a [href]="item.link" target="_blank" rel="noopener noreferrer"
                                class="d-inline-block text-decoration-none">
                                <figure>
                                    <img width="100%" height="100%" [src]="item.images" [alt]="item.name" />
                                </figure>
                            </a>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<!-- News -->
<section class="news bg-light" *ngIf="news.data.list?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div class="heading__title" [innerHTML]="'heading_news_home' | translate | sanitizeHtml"></div>
            <div class="heading__desc" [innerHTML]="'description_news_home' | translate | sanitizeHtml"></div>
            <div class="news-list">
                <owl-carousel-o [options]="news.options">
                    <ng-container *ngFor="let item of news.data.list">
                        <ng-template carouselSlide>
                            <app-box-content [input]="item"></app-box-content>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<!-- Partners -->
<section class="partner" *ngIf="partner.list?.length">
    <div class="container-main">
        <div class="container-fluid">
            <owl-carousel-o [options]="partner.options">
                <ng-container *ngFor="let item of partner.list">
                    <ng-template carouselSlide>
                        <a class="d-inline-block" [href]="item.link" target="_blank">
                            <img class="partner__img" [src]="item.logo" [alt]="item.company" width="100%"
                                height="100%" />
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>