@import 'src/style/mixins';
@import 'src/style/animations';

.slide {
	$slideBorder: 3px solid $secondaryColor;
	&--left {
		border-left: $slideBorder;
	}
	&--right {
		border-right: $slideBorder;
	}
	&-container {
		.container-main {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
	&__title {
		font-size: 3.7rem;
		margin-bottom: 2rem;
	}
	&__desc {
		font-size: 1.8rem;
		margin-bottom: 2rem;
	}
	&__btn {
		font-size: 1.4rem;
	}
}

.heading {
	&__title {
		margin-bottom: 1.5rem;
		padding: 1.5rem;
		border-left: 0.8rem solid $primaryColor;

		font-weight: bold;
		font-size: 2.8rem;
		text-transform: uppercase;
		color: $headingColor;
		p {
			margin-bottom: 0;
		}
		@include viewport-sm {
			font-size: 3.5rem;
		}
	}
	&__desc {
		font-size: 1.8rem;
		color: $descColor;
		> p {
			margin-bottom: 0;
		}
	}
}

.product {
	padding: $inner / 3 0 $inner;
	&-list {
		@extend %inner-child;
	}
}

.about {
	background: url(../../../assets/img/bg_about.jpg) center repeat;
	padding: #{$inner * 1.25} 0;
	@include viewport-sm {
		padding: #{$inner / 1.5} 0;
	}

	&__img {
		border-radius: 1.2rem;
	}
	&__video {
		@extend %position-center;
	}
	&-video {
		position: relative;
		background-color: $primaryColor;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;

		&::after {
			content: '';
			position: absolute;
			background-color: $primaryColor;
			opacity: 0.6;
			border: 2px solid $headingColor;
			top: -10%;
			left: -10%;
			width: 120%;
			height: 120%;
			border-radius: 50%;
			z-index: 1;
			-webkit-animation: video-circle-anim 2.3s infinite linear;
			animation: video-circle-anim 2.3s infinite linear;
			-webkit-transition: all 0.5s;
			transition: all 0.5s;
		}

		> i {
			z-index: 3;
			color: #fff;
		}
	}
	&__subtitle {
		border-left: 0.3rem solid;
		font-size: 1.8rem;
	}
	&__title {
		font-size: 4rem;
		@include viewport-sm {
			font-size: 3rem;
		}
		color: #fff;
	}
	&__desc {
		font-size: 1.6rem;
		color: $secondaryColor;
	}
	&__btn {
		font-size: 1.6rem;
		border: 2px solid $primaryColor;
		border-radius: 0.5rem;
		transition: 0.25s;
		&:hover {
			color: #fff !important;
			background-color: $primaryColor;
		}
	}
}

.news,
.banner {
	@extend %inner;
	&-list {
		@extend %inner-child;
	}
}

.partner {
	padding: #{$inner / 3} 0;
	&__img {
		filter: saturate(0);
		transition: 0.25s ease-in-out;
		&:hover {
			filter: saturate(1);
		}
	}
}
