<figure class="box d-flex">
    <a class="box__img d-block overflow-hidden position-relative mr-4"
        [routerLink]="['/' + (item.parent_links ? (item.parent_links + '/' + item.parent_link + '/' + item.link) : (item.parent_link + '/' + item.link))]">
        <img class="w-100 h-100" [lazyLoad]="item.images" [alt]="item.name"
            [defaultImage]="defaultImage" />
    </a>
    <div class="box-content d-flex flex-column justify-content-around">
        <a class="box__title font-weight-bold text-decoration-none"
            [routerLink]="['/' + (item.parent_links ? (item.parent_links + '/' + item.parent_link + '/' + item.link) : (item.parent_link + '/' + item.link))]">
            {{ item.name }}
        </a>
        <div class="box-group small">
            <span class="box-group__title d-inline-block bg text-white px-3 py-1">{{ item.parent_name }}</span>
            <span class="mx-4">{{ item.maker_date | date: "dd/MM/yyyy" }}</span>
            <span>
                <i class="fad fa-street-view mr-1"></i>
                {{ item.views }}
            </span>
        </div>
        <p class="box__description">
            {{ item.description }}
        </p>
    </div>
</figure>