<div class="news">
    <div class="row">
        <div class="col-12 col-md-8">
            <ng-container [ngSwitch]="initialState">
                <ng-template [ngSwitchDefault]>
                    <box-content-grid *ngFor="let item of data.list" [input]="item" class="d-block mb-5">
                    </box-content-grid>

                    <ng-template [ngIf]="pagination.total > pagination.itemsPerPage">
                        <pagination class="justify-content-end" [totalItems]="pagination.total"
                            [itemsPerPage]="pagination.itemsPerPage" [maxSize]="pagination.maxSize"
                            (pageChanged)="pagination.change($event)" [rotate]="false" [directionLinks]="true"
                            firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true" previousText="&lsaquo;"
                            nextText="&rsaquo;">
                        </pagination>
                    </ng-template>
                </ng-template>

                <ng-template [ngSwitchCase]="0">
                    <div class="grid-center h-100 py-5">
                        <h3>{{ 'lblUpdating' | translate }}</h3>
                    </div>
                </ng-template>
            </ng-container>
        </div>

        <div class="col-12 col-md-4">
            <aside class="news-mostview bg-light rounded-lg overflow-hidden position-sticky">
                <h4 class="bg p-3 text-uppercase text-center font-weight-bold">
                    {{ 'FEContentsDetail.mostview' | translate }}
                </h4>
                <div class="news-mostview__list">
                    <ng-container *ngIf="mostview.data && mostview.data.length > 0">
                        <box-content-grid class="d-block mb-4" *ngFor="let item of mostview.data | slice: 0:5"
                            [input]="item">
                        </box-content-grid>
                    </ng-container>

                    <h4 *ngIf="mostview.data.length === 0" class="text-center py-5" translate>lblUpdating</h4>
                </div>
            </aside>
        </div>
    </div>
</div>