<div class="card">
    <div class="card-header" style="cursor: pointer;">
        <strong>{{'class.title' | translate }}</strong>
        <div class="float-md-right">
            <div class="input-group input-group-sm">
                <input type="text" (keyup)="cstable._search()" [(ngModel)]="cstable.search.value"
                    [ngModelOptions]="{standalone: true}" class="form-control"
                    placeholder="{{'search.lblList'|translate}}">
            </div>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngFor="let col of cstable.cols" (click)="cstable._sorting(col.field)"
                        [ngClass]="{ 'sorting' : cstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchDefault>{{col.title | translate }}</span>

                            <i *ngIf="cstable.sorting.field==col.field" class="fa ml-1"
                                [ngClass]="{ 'fa-long-arrow-down' : cstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cstable.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cstable.data;let i = index">
                    <td *ngFor="let col of cstable.cols" [ngClass]="{ 'd-none' : col.show==false}">
                        <span [(ngSwitch)]="col.field">
                            <span *ngSwitchCase="'index'">
                                {{ i + 1 }}
                            </span>
                            <div *ngSwitchCase="'name'" style="max-width: 200px;">
                                {{item[col.field]}}
                            </div>
                            <span *ngSwitchCase="'maker_date'">
                                {{item[col.field]| date: 'dd/MM/yyyy' }}
                            </span>

                            <span *ngSwitchCase="'action'">
                                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                                    title="{{( item.status == 0 ? 'btn.edit' : 'btn.view') | translate}}"
                                    (click)="globals.crypto.link('admin/class/update', {id: item.id})">
                                    <i class="fas  text-dark"
                                        [ngClass]="item.status == 0 && item.is_lock != 1 ? 'fa-pencil-alt' : 'fas fa-eye'"></i>
                                </button>

                                <button class="btn btn-link btn-sm" data-toggle="tooltip" data-placement="top"
                                    *ngIf="item.is_lock == 0" [title]="'btn.listStudent' | translate"
                                    (click)="globals.crypto.link('admin/class/view-student', {id: item.id,  class_name: item.name})">
                                    <i class="fas fa-users text-dark"></i>
                                </button>
                                <button class="btn btn-link btn-sm " data-toggle="tooltip" data-placement="top"
                                    title="{{( item.is_lock == 0 ? 'btn.lock' : 'btn.unlock') | translate}}"
                                    (click)="onLock(item.id, item.is_lock, item.name)">
                                    <i class="fas text-dark"
                                        [ngClass]="item.is_lock == 1 ? 'fa-lock' : 'fa-unlock'"></i>
                                </button>
                                <button class="btn btn-link btn-sm text-danger"
                                    *ngIf="item.status == 0 && item.is_lock == 0"
                                    (click)="onRemove(item.id , item.name)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </span>
                            <span *ngSwitchCase="'status'"
                                [ngClass]="item[col.field] == 1 ? 'text-success' : 'text-warning'">
                                {{ (item[col.field] == 1 ? 'status.confirm' : 'status.unconfirm') | translate }}
                            </span>
                            <span *ngSwitchDefault>{{item[col.field]}}</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ cstable.settings.first }} - {{ cstable.settings.last }} of {{ cstable.settings.total }}</span>
            <span>
                <a (click)="cstable._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a (click)="cstable._previousnext(true)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>

    </div>
</div>

<div class="fixed-action-btn text-center">
    <a [routerLink]="['../insert']" class="text-white " style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</div>