<div class="page">
    <div class="container-main">
        <div class="container-fluid">
            <div *ngIf="isLogin; then logged else notLogged"></div>

            <ng-template #notLogged>
                <div class="row justify-content-center mt-5">
                    <div class="col-11 col-md-6">
                        <form action="" class="text-center">
                            <h3 class="text-uppercase" translate>FECompany.insert</h3>
                            <div class="form-group mt-5">
                                <input class="form-control rounded border px-3" type="text" autocomplete="off"
                                    (keyup.enter)="company.onSubmit()" [placeholder]="'FECompany.code' | translate"
                                    style="font-size: 1.5rem" [(ngModel)]="company.value"
                                    [ngModelOptions]="{standalone: true}" />
                            </div>
                            <div class="mt-4">
                                <button type="button" (click)="company.onSubmit()"
                                    class="btn bg-primary px-5 text-white" style="font-size: 1.4rem" translate
                                    [attr.disabled]="!company.value.length ? '' : null">
                                    FEbtn.check
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>

            <ng-template #logged>
                <div *ngIf="!isShowDetail; then content else detail"></div>

                <ng-template #content>
                    <div class="row align-items-baseline mb-4">
                        <div class="col-6 col-md-9">
                            <h4 class="font-weight-bold mb-4">{{ 'FEbtn.company' | translate }}</h4>
                        </div>
                        <div class="col-6 col-md-3">
                            <input type="text" (keyup)="cstable._search()" [(ngModel)]="cstable.search.value"
                                class="form-control" [placeholder]="'FESearch.student' | translate"
                                style="font-size: 1.5rem;">
                        </div>
                    </div>

                    <div class="text-center" *ngIf="!cstable.data.length">
                        <p class="text-uppercase font-weight-bold">
                            {{ 'FECompany.notStudents' | translate }}
                        </p>
                        <a class="btn btn-danger mt-4" [routerLink]="['/']" role="button" style="font-size: 1.5rem;">
                            {{ 'notFound.reHome' | translate }}
                        </a>
                    </div>

                    <div class="overflow-auto scroll-sm text-nowrap" *ngIf="cstable.data.length">
                        <table class="table table-hover table-bordered table-sm mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th *ngFor="let col of cstable.cols" (click)="cstable._sorting(col.field)"
                                        [ngClass]="{'cursor-pointer': col.filter,'d-none': !col.show}"
                                        style="border-width: 1px;">
                                        <div [(ngSwitch)]="col.field">
                                            <span *ngSwitchDefault>{{ col.title | translate }}</span>
                                            <i *ngIf="cstable.sorting.field == col.field" class="fa ml-2"
                                                [ngClass]="{'fa-long-arrow-down': cstable.sorting.sort == 'asc','fa-long-arrow-up': cstable.sorting.sort == 'desc'}"></i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cstable.data; index as i">
                                    <td *ngFor="let col of cstable.cols" [ngClass]="{'d-none': !col.show}"
                                        style="vertical-align: middle;">
                                        <ng-container [(ngSwitch)]="col.field">
                                            <div *ngSwitchDefault>
                                                {{ item[col.field] }}
                                            </div>
                                            <span *ngSwitchCase="'index'">
                                                {{ i + 1 }}
                                            </span>
                                            <div *ngSwitchCase="'product_name'" class="text-wrap"
                                                style="max-width: 237px;">
                                                {{ item[col.field] }}
                                            </div>
                                            <div *ngSwitchCase="'class_name'" class="text-wrap"
                                                style="max-width: 240px;">
                                                {{ item[col.field] }}
                                            </div>
                                            <div *ngSwitchCase="'student_rank'">
                                                {{handleRank(+item.score_avg)}}
                                            </div>
                                            <div *ngSwitchCase="'action'">
                                                <a class="btn btn-link"
                                                    (click)="handleStudentClick(+item.student_id, item.student_name, +item.product_id)"
                                                    style="font-size: 15px;">
                                                    {{ 'FEbtn.viewDetail' | translate }}
                                                </a>
                                            </div>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="mt-3">
                        <span>
                            <span class="font-italic">{{ cstable.settings.first }} - {{ cstable.settings.last }}</span>
                            <span class="ml-3 mr-2">of</span>{{cstable.settings.total }}
                        </span>
                        <span>
                            <a (click)="cstable._previousnext(false)" class="cursor-pointer" style="padding: 3px 5px;">
                                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            </a>
                            <a (click)="cstable._previousnext(true)" class="cursor-pointer" style="padding: 3px 5px;">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </span>
                    </div>
                </ng-template>

                <ng-template #detail>
                    <a class="btn btn-link mb-4 p-0" (click)="isShowDetail = false" style="font-size: 14px;">
                        <i class="fal fa-long-arrow-left mr-1"></i>
                        {{ 'FEbtn.return' | translate }}
                    </a>
                    <h4 class="font-weight-bold mb-4">
                        {{ 'lblUser' | translate}}:
                        <span class="h4 text-primary">{{ studentName }}</span>
                    </h4>
                    <div *ngIf="cstableDetail.data?.length" class="text-nowrap overflow-auto">
                        <table class="table table-hover table-bordered table-sm">
                            <thead class="thead-light">
                                <tr>
                                    <th *ngFor="let col of cstableDetail.cols"
                                        (click)="cstableDetail._sorting(col.field)" [ngClass]="{
                                            'cursor-pointer': col.filter,
                                            'd-none': !col.show
                                        }" style="border-width: 1px;">
                                        <div [(ngSwitch)]="col.field">
                                            <span *ngSwitchDefault>{{ col.title | translate }}</span>
                                            <i *ngIf="cstableDetail.sorting.field == col.field" class="fa ml-2"
                                                [ngClass]="{
                                                    'fa-long-arrow-down': cstableDetail.sorting.sort == 'asc',
                                                    'fa-long-arrow-up': cstableDetail.sorting.sort == 'desc'
                                                }">
                                            </i>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cstableDetail.data">
                                    <td *ngFor="let col of cstableDetail.cols; index as i"
                                        [ngClass]="{'d-none': !col.show}" [class.border-bottom-0]="i === 0"
                                        class="p-0 align-middle">
                                        <div [(ngSwitch)]="col.field">
                                            <div *ngSwitchCase="'class_name'" class="px-3 text-wrap"
                                                style="max-width: 240px;">
                                                {{ item[col.field] }}
                                            </div>
                                            <div *ngSwitchDefault class="px-3 py-2">
                                                {{ item[col.field] }}
                                            </div>
                                            <div *ngSwitchCase="'product_name'" class="px-3 py-2 text-wrap"
                                                style="max-width: 240px;">
                                                {{ item[col.field] }}
                                            </div>

                                            <div *ngSwitchCase="'is_attendance'">
                                                <!-- <div *ngFor="let col of item.product_list; index as i" 
                                                    [class.border-top]="i !== 0"
                                                    [class.text-danger]="!col.is_attendance || +col.is_attendance === 0">
                                                </div> -->
                                                <div [class.text-danger]="!item[col.field] || +item[col.field] === 0"
                                                    class="px-3 py-2">
                                                    {{ +item[col.field] === 1 ? 'Đạt' : (item[col.field] &&
                                                    +item[col.field] === 0 ? 'Không đạt' : '&nbsp;') }}
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'score_factor_1'">
                                                <!-- <div *ngFor="let col of item.product_list; index as i" class="px-3 py-2"
                                                    [class.border-top]="i !== 0">
                                                    {{ col.score_factor_1 && +col.score_factor_1 >= 0 ?
                                                    col.score_factor_1 :
                                                    '&nbsp;' }}
                                                </div> -->
                                                <div class="px-3 py-2">
                                                    {{ item[col.field] && +item[col.field] >= 0 ? item[col.field] :
                                                    '&nbsp;' }}
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'score_factor_2'">
                                                <!-- <div *ngFor="let col of item.product_list; index as i" class="px-3 py-2"
                                                    [class.border-top]="i !== 0">
                                                    {{ col.score_factor_2 && +col.score_factor_2 >= 0 ?
                                                    col.score_factor_2 :
                                                    '&nbsp;' }}
                                                </div> -->
                                                <div class="px-3 py-2">
                                                    {{ item[col.field] && +item[col.field] >= 0 ? item[col.field] :
                                                    '&nbsp;' }}
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'is_discipline'">
                                                <!-- <div *ngFor="let col of item.product_list; index as i" class="px-3 py-2"
                                                    [class.border-top]="i !== 0">
                                                    {{ +col.is_discipline === 1 ? 'Có' : (col.is_discipline &&
                                                    +col.is_discipline === 0 ?
                                                    'Không' : '&nbsp;') }}
                                                </div> -->
                                                <div class="px-3 py-2">
                                                    {{ +item[col.field] === 1 ? 'Có' : (item[col.field] &&
                                                    +item[col.field] === 0 ? 'Không' : '&nbsp;') }}
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'score_1'">
                                                <!-- <div *ngFor="let col of item.product_list; index as i" class="px-3 py-2"
                                                    [class.border-top]="i !== 0">
                                                    {{ col.score_1 && +col.score_1 >= 0 ? col.score_1 :
                                                    '&nbsp;' }}
                                                </div> -->
                                                <div class="px-3 py-2">
                                                    {{ item[col.field] && +item[col.field] >= 0 ? item[col.field] :
                                                    '&nbsp;' }}
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'score_2'">
                                                <!-- <div *ngFor="let col of item.product_list; index as i" class="px-3 py-2"
                                                    [class.border-top]="i !== 0">
                                                    {{ col.score_2 && +col.score_2 >= 0 ? col.score_2 :
                                                    '&nbsp;' }}
                                                </div> -->
                                                <div class="px-3 py-2">
                                                    {{ item[col.field] && +item[col.field] >= 0 ? item[col.field] :
                                                    '&nbsp;' }}
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'score_avg'">
                                                <!-- <div *ngFor="let col of item.product_list; index as i" class="px-3 py-2"
                                                    [class.border-top]="i !== 0">
                                                    {{ (col.score_1 && +col.score_1 >= 0) ? (col.score_avg &&
                                                    +col.score_avg
                                                    >= 0 ? col.score_avg :
                                                    '&nbsp;') : '&nbsp;' }}
                                                </div> -->
                                                <div class="px-3 py-2">
                                                    {{ item[col.field] && +item[col.field] >= 0 ? item[col.field] :
                                                    '&nbsp;' }}
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'is_pass'">
                                                <!-- <div *ngFor="let col of item.product_list; index as i" class="px-3 py-2"
                                                    [class.border-top]="i !== 0"
                                                    [ngClass]="!col.is_pass || +col.is_pass === 0 ? 'text-danger' : 'text-success'">
                                                    {{ +col.is_pass === 1 ? 'Qua môn' : (col.is_pass && +col.is_pass === 0 ? 'Rớt môn' : '&nbsp;') }}
                                                </div> -->
                                                <div [ngClass]="!item[col.field] || +item[col.field] === 0 ? 'text-danger' : 'text-success'"
                                                    class="px-3 py-2">
                                                    {{ +item[col.field] === 1 ? 'Qua môn' : (item[col.field] &&
                                                    +item[col.field] === 0 ? 'Rớt môn' : '&nbsp;') }}
                                                </div>
                                            </div>
                                            <div *ngSwitchCase="'student_rank'" class="px-3 py-2">
                                                {{handleRank(+item.score_avg)}}
                                            </div>

                                            <!-- <div *ngSwitchCase="'majors_score_avg'" class="text-center">
                                                {{ item.majors_score_avg }}
                                            </div>
                                            <div *ngSwitchCase="'classification'" class="text-center">
                                                {{ (item.majors_score_avg && +item.majors_score_avg >= 0) ?
                                                (handleRank(+item.majors_score_avg) ? rankStudent : '&nbsp;') : '&nbsp;'
                                                }}
                                            </div> -->

                                            <!-- <div *ngSwitchCase="'action'" class="text-center">
                                                <div *ngFor="let col of item.product_list; index as i" class="px-3 py-2"
                                                    [class.border-top]="i !== 0">
                                                    <a class="btn btn-link text-decoration-none p-0"
                                                        (click)="+col.videos === 1 && handleDetailClick(+col.product_id)"
                                                        [class.cursor-pointer]="+col.videos === 1"
                                                        style="font-size: 13px; cursor: default;">
                                                        {{ +col.videos === 1 ? ('FEbtn.viewDetail' | translate) :
                                                        '&nbsp;' }}
                                                    </a>
                                                </div>
                                            </div> -->
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr *ngFor="let col of footer">
                                                                                                    <td class="border-top-0"></td>
                                                                                                    <td colspan="7" class="text-center font-weight-bold" style="font-size: 1.5rem;">
                                                                                                        ĐIỂM TỔNG KẾT / XẾP LOẠI
                                                                                                    </td>
                                                                                                    <td class="text-center font-weight-bold">{{ item.majors_score_avg }}</td>
                                                                                                    <td class="text-center font-weight-bold" colspan="2">
                                                                                                        {{ (item.majors_score_avg && +item.majors_score_avg >= 0) ?
                                                                                                        (handleRank(+item.majors_score_avg) ? rankStudent : '&nbsp;') : '&nbsp;' }}
                                                                                                    </td>
                                                                                                </tr> -->
                            </tbody>
                        </table>

                        <div class="mt-4">
                            <p class="mb-3 font-weight-bold">Ghi chú:</p>
                            <ul class="nav flex-column">
                                <li class="nav-item border-left mb-2 pl-3 border-danger">
                                    <span class="font-weight-bold">HS 1</span>
                                    <span class="text-danger mx-1">*</span>:
                                    <span style="font-size:14px">{{ 'FECustomer.note_hs_1' | translate }}</span>
                                </li>
                                <li class="nav-item border-left mb-2 pl-3 border-danger">
                                    <span class="font-weight-bold">HS 2</span>
                                    <span class="text-danger mx-1">*</span>:
                                    <span style="font-size:14px">{{ 'FECustomer.note_hs_2' | translate }}</span>
                                </li>
                                <li class="nav-item border-left mb-2 pl-3 border-danger">
                                    <span class="font-weight-bold">TL 1</span>
                                    <span class="text-danger mx-1">*</span>:
                                    <span style="font-size:14px">{{ 'FECustomer.note_score_1' | translate }}</span>
                                </li>
                                <li class="nav-item border-left mb-2 pl-3 border-danger">
                                    <span class="font-weight-bold">TL 2</span>
                                    <span class="text-danger mx-1">*</span>:
                                    <span style="font-size:14px">{{ 'FECustomer.note_score_2' | translate }}</span>
                                </li>
                                <li class="nav-item border-left mb-2 pl-3 border-danger">
                                    <span class="font-weight-bold">TBM</span>
                                    <span class="text-danger mx-1">*</span>:
                                    <span style="font-size:14px">{{ 'FECustomer.note_score_avg' | translate }}</span>
                                </li>
                                <!-- <li class="nav-item border-left mb-2 pl-3 border-danger">
                                    <span class="font-weight-bold">ĐTK</span>
                                    <span class="text-danger mx-1">*</span>:
                                    <span style="font-size:14px">{{ 'FECustomer.note_score_final' | translate }}</span>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>