<header class="header bg-white" id="header">
    <div class="container-main">
        <div class="container-fluid">
            <div class="header-inner d-flex justify-content-between align-items-center">
                <!-- Logo -->
                <a [routerLink]="['/']" class="header__logo">
                    <img *ngIf="globals.company.logo != ''" width="180" height="60" class="mw-100"
                        [src]="globals.company.logo" [alt]="globals.company.name" [title]="globals.company.name" />
                </a>

                <div class="d-flex align-items-center">
                    <!-- Menu Desktop -->
                    <nav class="header__menu" *ngIf="width > 768">
                        <app-menu-horizontal [input]="menu"></app-menu-horizontal>
                    </nav>

                    <!-- Btn search -->
                    <div class="header_search position-relative">
                        <i class="header_search__icon text-center cursor-pointer text-dark"
                            [ngClass]="!search.icon ? 'far fa-search' : 'fal fa-times'"
                            (click)="search.showSearch()"></i>
                        <div class="header_search__input position-absolute d-flex align-items-center"
                            *ngIf="search.icon">
                            <input (keyup.enter)="search.onSearch()" [(ngModel)]="search.value" autofocus
                                autocomplete="off" class="border-0 rounded-pill py-2 pl-4 pr-5"
                                style="margin-right: -2.5rem" [placeholder]="'FESearch.search' | translate" />
                            <i class="far fa-search mr-3 cursor-pointer" (click)="search.onSearch()"></i>
                        </div>
                    </div>

                    <!-- Btn sign-in -->
                    <div class="header_user d-md-block d-none">
                        <div *ngIf="!globals.CUSTOMER.check()"
                            class="header_user__icon position-relative rounded-circle border text-center cursor-pointer">
                            <i class="fal fa-user text-dark border-dark"></i>
                            <div class="header_user__dropdown invisible rounded-lg overflow-hidden">
                                <button (click)="login(1)"
                                    class="btn btn-primary rounded-0 border-0 btn-block text-nowrap py-2 mt-0">
                                    {{ 'lblUser' | translate }}
                                </button>
                                <button (click)="login(3)"
                                    class="btn btn-light rounded-0 border-0 btn-block text-nowrap py-2 mt-0">
                                    {{ 'FEbtn.company' | translate }}
                                </button>
                            </div>
                        </div>

                        <div class="d-flex align-items-center" *ngIf="globals.CUSTOMER.check()">
                            <div
                                class="header_user__icon position-relative rounded-circle border text-center cursor-pointer">
                                <i class="fal fa-user text-dark border-dark"></i>
                                <div class="header_user__dropdown invisible rounded-lg overflow-hidden">
                                    <button [routerLink]="['/user/hoc-vien']"
                                        class="btn btn-primary rounded-0 border-0 btn-block text-nowrap py-2 px-4 mt-0">
                                        {{ 'lblInforUser' | translate }}
                                    </button>
                                    <button (click)="logout()"
                                        class="btn btn-light rounded-0 border-0 btn-block text-nowrap py-2 px-4 mt-0">
                                        {{ 'FEbtn.logout' | translate }}
                                    </button>
                                </div>
                            </div>
                            <div class="ml-2">
                                <span class="lead">{{ globals.CUSTOMER.get().code }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- Icon menu -->
                    <div class="hamburger position-relative ml-5" *ngIf="width <= 768"
                        (click)="status_menu = !status_menu" [ngClass]="{ 'hamburger--open': status_menu }">
                        <span class="d-block position-absolute w-100 bg-dark"></span>
                        <span class="d-block position-absolute w-100 bg-dark"></span>
                        <span class="d-block position-absolute w-100 bg-dark"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu mobile -->
    <div class="menu position-fixed w-100" *ngIf="width <= 768" [ngClass]="status_menu ? 'd-block' : 'd-none'">
        <div class="vh-100">
            <div class="menu-main">
                <app-menu [input]="menu" (menuStatus)="_closeMenu(menuStatus)"></app-menu>
            </div>
        </div>
    </div>
</header>