<form [formGroup]="fm" *ngIf="fm" (submit)="$event.stopPropagation()">
    <div class="card w-100 mb-3">
        <div class="card-header">
            <span class="mr-4" *ngIf="student_name?.length">
                {{ 'student.updateRegister' | translate }}:
                <span class="lead text-success">{{ student_name }}</span>
            </span>
            <span>
                <span [ngClass]="(!student_id || !class_id) && 'font-weight-bold'">
                    {{ (!student_id || !class_id) ? 'Thêm lớp học' : 'Lớp: ' }}
                </span>
                <span class="lead text-success">{{ class_name }}</span>
            </span>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="form-group" *ngIf="!student_id || !class_id">
                        <label for="group">
                            {{ 'class.chooseClass' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <select formControlName="class_id" name="class_id" class="form-control "
                            (change)="class._choose()" required>
                            <option *ngFor="let item of class.data" [value]="item.id">
                                {{ item.name }}
                            </option>
                        </select>
                        <small class="text-danger"
                            *ngIf="fm.get('class_id').invalid && fm.get('class_id').touched">{{'message.required'|translate}}</small>
                    </div>
                </div>
            </div>

            <div class="bg-light p-3" *ngIf="fm.value.class_id > 0">
                <div class="row">
                    <div class="col-9">
                        <h6 class="font-weight-bold">{{ 'class.listCourse' | translate }}</h6>
                    </div>
                    <div class="col-3">
                        <input class="form-control " type="text" [placeholder]="'search.lblList' | translate"
                            [(ngModel)]="class.searchCourse.value" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="custom-control custom-checkbox mb-3" *ngIf="class.courses?.length">
                    <input type="checkbox" class="custom-control-input"
                        (change)="handleCheckAllChange($event.target.checked)" id="checkAllCourse"
                        [checked]="handleCheckAll()">
                    <label class="custom-control-label user-select-none cursor-pointer" for="checkAllCourse">
                        {{ 'btn.all' | translate }}
                    </label>
                </div>
                <div class="row" *ngIf="class.courses?.length">
                    <div class="col-3"
                        *ngFor="let item of class.courses | servicePipeFilter : class.searchCourse.value : class.searchCourse.field">
                        <div class="custom-control custom-checkbox mb-2">
                            <input type="checkbox" class="custom-control-input" [id]="'course-item-' + item.id"
                                [checked]="item.isChecked" (change)="item.isChecked = $event.target.checked"
                                [attr.disabled]="(item.score !== null && +student_id > 0) ? '' : null">
                            <label class="custom-control-label cursor-pointer" [attr.for]="'course-item-' + item.id">
                                {{ item.name }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4" *ngIf="!student_id || !class_id">
                <div *ngIf="isExistMessage?.length" class="alert alert-warning d-inline-block" role="alert">
                    <strong>Warning!</strong> {{ isExistMessage }}
                </div>
                <div class="mb-2">
                    {{ 'student.name' | translate }}
                    <span class="text-danger">*</span>
                </div>
                <div class="bg-light p-3">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <h6 class="font-weight-bold mb-0">{{ 'student.list' | translate }}</h6>
                        </div>
                        <div class="col-3">
                            <input type="text" (keyup)="cstable._search()" [(ngModel)]="cstable.search.value"
                                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm"
                                [placeholder]="'search.lblList' | translate">
                            <!-- <input class="form-control" type="text" [placeholder]="'search.lblList' | translate"
                                [(ngModel)]="class.searchStudent.value" [ngModelOptions]="{standalone: true}" /> -->
                        </div>
                    </div>
                    <!-- <div class="row pt-4" *ngIf="class.student?.length">
                        <div class="col-3"
                            *ngFor="let item of class.student | servicePipeFilter : class.searchStudent.value : class.searchStudent.field">
                            <div class="custom-control custom-checkbox mb-2">
                                <input type="checkbox" class="custom-control-input" [id]="'student-item-' + item.id"
                                    [checked]="item.isChecked" (change)="item.isChecked = $event.target.checked">
                                <label class="custom-control-label cursor-pointer"
                                    [attr.for]="'student-item-' + item.id" [class.text-danger]="item.isExist">
                                    {{ item.name }}
                                </label>
                            </div>
                        </div>
                    </div> -->
                    <div>
                        <table class="table table-sm table-hover table-bordered mt-3">
                            <thead class="thead-light">
                                <tr>
                                    <th *ngFor="let col of cstable.cols" (click)="cstable._sorting(col.field)"
                                        [ngClass]="{'cursor-pointer': col.filter,'d-none': !col.show}"
                                        style="border-width: 1px;">
                                        <div [(ngSwitch)]="col.field" class="text-nowrap">
                                            <span *ngSwitchDefault>{{ col.title | translate }}</span>

                                            <i *ngIf="cstable.sorting.field == col.field" class="fa ml-2"
                                                [ngClass]="{'fa-long-arrow-down': cstable.sorting.sort == 'asc','fa-long-arrow-up': cstable.sorting.sort == 'desc'}"></i>

                                            <div *ngSwitchCase="'action'" class="">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkAll"
                                                        (change)="handleCheckAllStudentsChange($event.target.checked)"

                                                        [checked]="handleCheckAllStudents()"
                                                         />
                                                    <label class="custom-control-label cursor-pointer user-select-none"
                                                        for="checkAll">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cstable.data; index as i">
                                    <td *ngFor="let col of cstable.cols" [ngClass]="{'d-none': !col.show}">
                                        <div [(ngSwitch)]="col.field">
                                            <div *ngSwitchDefault>
                                                {{ item[col.field] }}
                                            </div>
                                            <span *ngSwitchCase="'index'">
                                                {{ i + 1 }}
                                            </span>
                                            <span *ngSwitchCase="'sex'">
                                                {{ item[col.field] == 1 ? 'Nam' : item[col.field] == 0 ? 'Nữ' : '' }}
                                            </span>
                                            <span *ngSwitchCase="'code_company'" class="text-nowrap small">
                                                {{ item[col.field] }}
                                            </span>
                                            <div *ngSwitchCase="'action'" class="text-center">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        [id]="'student-item-' + item.id" [checked]="item.isChecked"
                                                        (change)="item.isChecked = $event.target.checked">
                                                    <label class="custom-control-label cursor-pointer"
                                                        [attr.for]="'student-item-' + item.id"
                                                        [class.text-danger]="item.isExist">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div>
                            <a (click)="cstable._previousnext(false)" class="cursor-pointer">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                            <span class="px-2">
                                {{ cstable.settings.first }} - {{ cstable.settings.last }} of
                                {{ cstable.settings.total }}
                            </span>
                            <a (click)="cstable._previousnext(true)" class="cursor-pointer">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="button" [disabled]="!fm.valid || validateSubmit()" (click)="onSubmit()"
                class="btn btn-success float-right">
                {{ 'btn.save' | translate }}</button>
            <button type="button" [routerLink]="'/admin/registration/get-list'"
                class="btn btn-secondary float-right mr-2">{{ 'btn.back' | translate }}</button>
        </div>
    </div>
</form>