<app-breadcrumb [input]="contact.data"></app-breadcrumb>

<div *ngIf="contact.data.detail" class="page" id="page-detail">
  <div class="container-main">
    <div class="container-fluid">
      <div [innerHTML]="contact.data.detail | sanitizeHtml"></div>
    </div>
  </div>
</div>