.br-text::before {
  content: '';
  margin-right: 10px;
  border-top: 2px solid #4085f1;
  width: 3.125rem;
}

.br-contact {
  border-width: 2px;
  border-bottom-color: rgba(24, 24, 24, 0.1);
  margin: 2em 0;
  border-bottom: 1px solid #ccc;
}

.title-contact h2 {
  font-size: 45px;
}

.info-contact a {
  text-decoration: none;
  color: #373940;
  display: block;
}

.title-contact h2,
.title-contact h2 span {
  text-transform: capitalize;
  font-size: 44px;
}

.btn-contact {
  background: linear-gradient(to bottom, #e03550, #e03550);
  width: 100px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.btn-contact:focus {
  transition: 0.3s;
  background: linear-gradient(to bottom, #d6344e, #d6344e);
}

input:focus,
textarea:focus {
  box-shadow: none !important;
  border: 1px solid #d6344e !important;
}

.form-control:focus {
  box-shadow: none;
}

.footer-social {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: all 0.3s;
  font-size: 25px;
  margin-right: 15px;
}

.skype {
  color: #00adf1;
}

.youtube {
  color: #c30000;
}

.instagram {
  color: #d63f76;
}

.facebook {
  color: #4867aa;
}

.footer-social:hover {
  transform: scale(1.1);
}

@media (max-width: 1025px) {
  .title-contact p {
    font-size: 17px;
  }
}

@media (max-width: 769px) {
}
