<div class="resetPage bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <form [formGroup]="fm" *ngIf="fm" class="resetPage-box rounded shadow bg-white">
                        <h2 class="font-weight-bold mb-3">{{ 'FEResetPassword.title' | translate }}</h2>

                        <div class="form-group">
                            <label class="small">
                                {{ 'FEResetPassword.newPass' | translate }}
                                <span class="text-danger">*</span>
                            </label>
                            <input type="password" autocomplete="off" class="form-control form-control-sm"
                                name="password" formControlName="password" required (keyup.enter)="onSubmit()" />
                            <small class="text-danger" *ngIf="fm.get('password').invalid && fm.get('password').touched">
                                {{ 'message.required' | translate }}
                            </small>
                        </div>
                        <button (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-block rounded-0 btn-success">
                            {{ 'FEbtn.confirm' | translate }}
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>