<div class="products">
    <ng-container [ngSwitch]="status">
        <div class="row products-filter bg-light py-2 mx-0">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <span>
                        <b>
                            {{ cwstable.settings.total > 0 ? cwstable.settings.total : 0 }}
                        </b>
                        {{ 'FEProduct.product' | translate }}
                    </span>
                    <div *ngFor="let col of cwstable.cols">
                        <span>{{ col.title | translate}}</span>
                        <button (click)="cwstable._sorting(col.field, 'desc')" style="font-size: 1.6rem"
                            class="btn btn-sm mx-3 p-0">
                            <i class="fas fa-sort-amount-down"></i>
                        </button>
                        <button (click)="cwstable._sorting(col.field, 'asc')" style="font-size: 1.6rem"
                            class="btn btn-sm p-0">
                            <i class="fas fa-sort-amount-up"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchDefault class="products-list">
            <div class="row">
                <div class="col-6 col-lg-3 col-md-4 products-list__item"
                    *ngFor="let item of cwstable.data; even as even; odd as odd"
                    [ngClass]="{'pr-2 pr-md-4': even, 'pl-2 pl-md-4': odd}">
                    <app-box-product [input]="item"></app-box-product>
                </div>
            </div>
            <div class="d-flex justify-content-end" *ngIf="cwstable.cached.length > pagination.itemsPerPage">
                <pagination [totalItems]="cwstable.cached.length" [itemsPerPage]="pagination.itemsPerPage"
                    (pageChanged)="pagination.change($event)" [rotate]="false" [directionLinks]="true"
                    firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true" previousText="&lsaquo;"
                    nextText="&rsaquo;">
                </pagination>
            </div>
        </div>

        <div *ngSwitchCase="0" class="text-center">
            <h3>{{'FEProduct.NotHaveProduct' | translate }}</h3>
        </div>
    </ng-container>

    <div *ngIf="statusFilter" class="products-filter-sm position-fixed d-flex w-100 h-100">
        <div class="w-75" style="background-color: whitesmoke;">
            <div class="grid-center h-100" *ngIf="categories.length === 0">
                {{ 'lblUpdating' | translate }}
            </div>
            <div class="card rounded-0 border-0 mb-3" *ngIf="categories && categories.length > 0">
                <ul class="pl-0 mb-0">
                    <li *ngFor="let item of categories; index as i"
                        [ngStyle]="{'border-bottom': i < categories.length - 1 ? '1px solid #dee2e6' : ''}">
                        <div class="title py-3 pl-3 pr-2"
                            [ngClass]="{ 'active': collapsedMenu.includes(item.id) == false }"
                            (click)="collapseMenu(item.id)" [attr.aria-controls]="item.link">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="text-left">{{ item.name }}</div>
                                <i class="fas"
                                    [ngClass]="{ 'fa-chevron-right': collapsedMenu.includes(item.id) == false,'fa-chevron-down': collapsedMenu.includes(item.id) == true }"></i>
                            </div>
                        </div>
                        <ul class="pl-2" [id]="item.link" [collapse]=""
                            [ngClass]="collapsedMenu.includes(item.id) == true ? 'd-block' : 'd-none'"
                            *ngIf="item.list || item.list.length > 0" [isAnimated]="true">
                            <li class="p-2" *ngFor="let rows of item.list"
                                [ngClass]="{'d-none': (data.id != rows.id) && data.parent_id == item.id}">
                                <div class="d-flex align-items-center justify-content-between"
                                    (click)="groupCategory.filter(rows.id)">
                                    <div class="item-title">
                                        {{ rows.name }}
                                    </div>
                                    <input name="group" [checked]="groupCategory.value.includes(rows.id)"
                                        type="checkbox" id="group-{{rows.id}}">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card rounded-0 border-0 mb-3" *ngIf="brand.data && brand.data.length > 0">
                <ul class="pl-0 mb-0">
                    <li>
                        <div class="title pl-3 pr-2 py-2 d-flex justify-content-between align-items-center"
                            [ngClass]="{'active': collapsedMenu.includes('brands') == false}"
                            (click)="collapseMenu('brands')">
                            <div>{{ 'FEProduct.brand' | translate }}</div>
                            <i class="fas"
                                [ngClass]="{ 'fa-chevron-right': collapsedMenu.includes('brands') == false,'fa-chevron-down': collapsedMenu.includes('brands') == true }"></i>
                        </div>
                        <ul class="pl-4" [ngClass]="collapsedMenu.includes('brands') == true ? 'd-block' : 'd-none'"
                            [isAnimated]="true">
                            <li class="px-3 pb-3" *ngFor="let item of brand.data;" style="overflow:hidden">
                                <div class=" d-flex align-items-center justify-content-between"
                                    (click)="brand.filterBrand(item.id)">
                                    <div class="item-title">
                                        {{item.name}}
                                    </div>
                                    <input name='brand' [checked]="brand.value.includes(item.id)" type="checkbox"
                                        id="group-{{item.id}}">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card rounded-0 border-0 mb-3" *ngIf="origin.data && origin.data.length > 0">
                <ul class="pl-0 mb-0">
                    <li>
                        <div class="title pl-3 pr-2 py-2 d-flex justify-content-between align-items-center"
                            [ngClass]="{'active': collapsedMenu.includes('origin') == false}"
                            (click)="collapseMenu('origin')">
                            <div>{{ 'FEProduct.origin' | translate }}</div>
                            <i class="fas"
                                [ngClass]="{ 'fa-chevron-right': collapsedMenu.includes('origin') == false,'fa-chevron-down': collapsedMenu.includes('origin') == true }"></i>
                        </div>
                        <ul class="pl-3" [ngClass]="collapsedMenu.includes('origin') == true ? 'd-block' : 'd-none'"
                            [isAnimated]="true">
                            <li class="px-3 pb-3" *ngFor="let item of origin.data;" style="overflow:hidden">
                                <div class=" d-flex align-items-center justify-content-between"
                                    (click)="origin.filterOrigin(item.id)">
                                    <div class="item-title">
                                        {{item.name}}
                                    </div>
                                    <input name="origin" [checked]="origin.value.includes(item.id)" type="checkbox"
                                        id="group-{{item.id}}">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card rounded-0 border-0 mb-5" *ngIf="price.max > 0">
                <ul class="pl-0">
                    <li>
                        <div class="title px-3 py-2 d-flex justify-content-between align-items-center"
                            [ngClass]="{'active': collapsedMenu.includes('price') == false}"
                            (click)="collapseMenu('price')">
                            <div>{{'FEProduct.price' | translate}}</div>

                        </div>
                        <div class="card-body p-2">
                            <ng5-slider (userChangeEnd)="onUserChangeEnd($event)" [(value)]="minValue"
                                [(highValue)]="maxValue" [options]="options"></ng5-slider>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="w-25" (click)="handleToggleFilter(false)"></div>
    </div>
</div>