@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'mixins';
@import 'animations';

:root {
    --primaryColor: #{$primaryColor};
}

html {
    font-size: 62.5%; // 1rem = 10px
}
body {
    width: 100%;
    overflow-x: hidden;
    font-family: $primaryFont;
    font-size: 1.6rem;
    scroll-behavior: smooth;
}
img {
    object-fit: cover;
    // &:not([alt], [width], [height]) {
    //   border: 4px solid red;
    // }
}
.app-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    .breadcrumb,
    p,
    figure,
    .form-group,
    label,
    select,
    ul,
    ol,
    dl {
        margin-bottom: 0;
    }
}
.container-main {
    max-width: $w-container;
    margin: 0 auto;
}
.is--active,
.color {
    color: $primaryColor;
}
.bg {
    background-color: $primaryColor;
}
.cursor-pointer {
    cursor: pointer;
}
a {
    transition: 0.25s;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-center {
    display: grid;
    place-items: center;
}
.scroll-sm {
    @include viewport-sm {
        flex-wrap: nowrap !important;
        overflow: auto;
        padding-bottom: 0.5rem;
        &::-webkit-scrollbar {
            height: 0;
        }
    }
}
font {
    background-color: transparent !important;
    box-shadow: none !important;
}
// .header--fixed {
//   .nav__link-1,
//   .header_search__icon,
//   .header_user__icon > i {
//     color: $textColor !important;
//   }
//   .hamburger > span {
//     background-color: $textColor !important;
//   }
// }
// // don't config

// input,
// textarea {
//     font-size: 16px !important;
// }
// button[disabled] {
//     border: 1px solid #ccc !important;
//     background-color: #ccc !important;
//     color: #8a8a8a !important;
// }
input:focus {
    outline: 0;
}
button:focus,
.btn:focus {
    // outline: 0;
    box-shadow: none;
}
// .form-control:focus,
// textarea:focus,
// button:focus,
// .btn:focus,
// select {
//     outline: 0;
// }
// option {
//     border: 0;
// }

// .map-contact {
//   border-radius: 20px;
//   overflow: hidden;
//   iframe {
//     width: 100%;
//   }
// }

#page-detail {
    overflow: hidden;
    *:not(img, iframe, [class^='fa']) {
        font-family: $primaryFont !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0.5rem;
    }
    p {
        margin-bottom: 1rem;
    }
    img,
    iframe {
        max-width: 100%;
    }
}

// #page-detail img,
// #chips-detail img {
//   max-width: 100% !important;
//   height: auto !important;
// }

// #page-detail iframe,
// #chips-detail iframe {
//   max-width: 100% !important;
// }

// // about
// .about {
//     @extend %inner;
//     &__subtitle > p {
//         margin-bottom: 0;
//     }
//     &__title {
//         font-size: 28px;
//         line-height: 1.33;
//     }
//     &__btn:hover {
//         color: #fff;
//         background-color: #247ffb;
//         // border-color: #247ffb;
//     }
// }

// //all page

// .title-page h1 {
//     font-weight: 600;
//     max-width: 50%;
//     @include viewport-sm {
//         max-width: 100% !important;
//     }
// }

// .breadcrumb-item {
//     @include viewport-sm {
//         font-size: 12px !important;
//     }
// }
// .breadcrumb-item a {
//     color: #212529;
// }

// .breadcrumb .active,
// .breadcrumb .active a {
//     color: var(--primaryColor);
// }

// .breadcrumb-item a:hover {
//     color: var(--primaryColor);
//     text-decoration: none;
// }

// .breadcrumb-item + .breadcrumb-item::before {
//     color: #c1c1c1;
// }

// //price product
// .card-body .ng5-slider .ng5-slider-pointer {
//     width: 15px;
//     height: 15px;
//     top: -6px;
//     outline: none;
// }

// .card-body .ng5-slider .ng5-slider-pointer.ng5-slider-active::after {
//     background-color: transparent !important;
// }

.office {
    padding: 2rem 0;
    font-size: 1.4rem;
    [class^='fa'] {
        margin-right: 2.5px;
        color: #a2a2a2;
        // font-size: 1.3rem;
        // color: #fff;
    }
    a {
        color: #dcdce5;
    }
}

.slide {
    &-container {
        .owl-carousel.owl-theme {
            .owl-nav {
                .owl-prev,
                .owl-next {
                    opacity: 0.33;
                    margin: 0 4.6875rem !important;

                    @include viewport-sm {
                        margin: 0 0.5rem !important;

                        > img {
                            max-width: 60%;
                        }
                    }
                }
                .owl-prev:hover,
                .owl-next:hover {
                    opacity: 1;
                }
            }
            .owl-dots {
                right: 5%;
                bottom: 5%;
                .owl-dot {
                    &.active span,
                    &:hover span {
                        background-color: $primaryColor;
                    }
                    span {
                        $dotSizeSlide: 1.4rem;
                        width: $dotSizeSlide;
                        height: $dotSizeSlide;
                    }
                }
            }
        }

        .active .slide__desc {
            animation: slideUp 0.67s ease-out;
        }
        .active .slide__title {
            animation: slideUp 1s ease-out;
        }
        .active .slide__btn {
            animation: slideDown 1.67s ease-out;
        }
    }

    // .owl-nav {
    //   .owl-prev,
    //   .owl-next {
    //     opacity: 0.2;
    //     margin: 0 4.6875rem !important;
    //   }
    //   .owl-prev:hover,
    //   .owl-next:hover {
    //     opacity: 1;
    //   }
    // }
}

.news,
.banner {
    .owl-carousel.owl-theme .owl-dots {
        left: 50%;
        transform: translateX(-50%);
        bottom: -25px;

        .owl-dot {
            &.active span {
                background-color: $primaryColor;
                width: 2.5rem;
            }
            span {
                $dotSizeSlide: 1.4rem;
                width: 1.75rem;
                border-radius: 1rem;
                transition: 0.25s ease-out;
                // height: $dotSizeSlide;
            }
        }
    }
}

// .category .owl {
//     &-nav {
//         top: 50% !important;
//         @include viewport-sm {
//             display: block !important;
//         }
//     }
//     &-prev,
//     &-next {
//         width: 24px;
//         height: 40px;
//         display: flex !important;
//         align-items: center;
//         background-color: #0000000a !important;
//         &.disabled {
//             opacity: 0;
//         }
//     }
//     &-prev {
//         margin-left: -8px !important;
//     }
//     &-next {
//         margin-right: -8px !important;
//     }
// }
// .service .owl,
// .news .owl {
//     &-dots {
//         left: 50%;
//         transform: translateX(-50%);
//         bottom: -24px !important;
//     }
//     &-dot {
//         &.active > span {
//             width: 1.375rem !important;
//             background-color: var(--primaryColor) !important;
//         }
//         > span {
//             margin: 0 0.25rem !important;
//             width: 1rem !important;
//             border-radius: 0.3125rem !important;
//         }
//     }
// }

// .search-modal {
//     max-width: unset;
//     height: 100vh !important;
//     background-color: rgba(0, 0, 0, 0.67);

//     .modal-content {
//         width: 50% !important;
//         @include viewport-lg {
//             width: 60% !important;
//         }

//         @include viewport-md {
//             width: 80% !important;
//         }

//         display: block;
//         width: unset;
//         border: none;
//         border-radius: 0;
//         background-color: unset;
//     }
// }

// .evaluate .owl {
//     &-dots {
//         margin-top: 0 !important;
//         bottom: -1rem !important;
//         left: 50%;
//         transform: translateX(-50%);
//     }
//     &-dot {
//         &.active > span {
//             width: 1.375rem !important;
//             background-color: var(--primaryColor) !important;
//         }

//         > span {
//             margin: 0 0.25rem !important;
//             width: 1rem !important;
//             border-radius: 0.3125rem !important;
//         }
//     }
// }

// .listImages {
//     .owl-nav {
//         margin-top: 0 !important;
//         width: unset !important;
//         position: unset !important;
//         top: unset !important;
//         transform: unset !important;
//         > [class^="owl-"] {
//             position: absolute;
//             top: 50%;
//             float: unset !important;
//         }
//         .owl-prev {
//             left: 0;
//         }
//         .owl-next {
//             right: 0;
//         }
//     }
// }

// .img-list__options {
//     .owl-stage {
//         display: flex;
//         // transform: unset !important;
//     }
//     .owl-item {
//         width: unset !important;
//     }
// }

// .breadcrumb {
//   //   &-inner {
//   // padding: 3rem 0;
//   // background-color: #fefefe;
//   //   }
//   &-item + &-item {
//     $p: 1rem;

//     padding-left: $p;

//     &::before {
//       padding-right: $p;
//     }
//   }
// }

.breadcrumb {
    $padding: 1rem;

    &-inner {
        background-color: $bgBreadcrumb;
    }

    &-item {
        a,
        span {
            // font-size: $fontSize;
            color: $colorBreadcrumb;
        }
        & + & {
            padding-left: $padding;
            &::before {
                // content: '>';
                // font-size: $fontSize;
                padding-right: $padding;
                color: $colorBreadcrumb;
            }
        }
    }
}

.detail {
    &_heading {
        background-color: #0b3955;
        .breadcrumb-item > a {
            color: #8ed1dc;
        }
    }
}

.page {
    padding: $innerPage 0;
    // min-height: 50vh;
    min-height: calc(100vh - 90px);
}

.news .owl-stage {
    padding-bottom: 0.5rem;
    @include viewport-sm {
        .owl-item {
            width: 280px !important;
        }
    }
}

.news .owl,
.partner .owl {
    &-prev,
    &-next {
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
        // margin-left: -40px !important;/
    }
    $owlNavPartner: -5rem !important;
    &-prev {
        margin-left: $owlNavPartner;
    }
    &-next {
        // opacity: 0.5;
        margin-right: $owlNavPartner;
    }
    // .owl-prev:hover,
    // .owl-next:hover {
    // }
}

.news-mostview__list,
.news-detail-related__list {
    .box {
        &__img {
            height: 75px !important;
        }
        &__title {
            font-size: 14px;
            height: 38px !important;
        }
        &__description {
            display: none !important;
        }
    }
}

.news-mostview {
    @include viewport-sm {
        margin-top: 2rem;
    }
}

select {
    background-image: url(../assets/img/icon-select-down.png);
    background-repeat: no-repeat;
    background-position: 99% 50%;
    appearance: none;
}

// .app-body .user {
//     padding: 15px 0;
// }

.news {
    &-mostview {
        top: #{($innerHeader / 3) * 2 + $h-logo + $borderHeader + $innerPage};

        &__list {
            padding: 10px 10px 0;
        }
    }
}
