<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card w-100">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'service.edit':'service.add') | translate : {name : fm.value.name} }}</strong>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="name">{{ 'lblName' | translate }}<span class="ml-2 text-danger">*</span></label>
                            <input type="text" (keyup)="onChangeLink($event)" class="form-control" name="name" id="name"
                                formControlName="name" autocomplete="off" required>
                            <small style="color:red"
                                *ngIf="fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                        </div>

                        <div class="form-group">
                            <label for="link">{{ 'lblLink' | translate }}</label>
                            <input type="text" (keyup)="link._keyup($event)" class="form-control" name="link" id="link"
                                formControlName="link" autocomplete="off">
                            <small style="color:red"
                                *ngIf="fm.get('link').invalid && fm.get('link').touched">{{'message.required'|translate}}</small>
                        </div>

                        <!-- van.pa - add link_redirect -->
                        <div class="form-group">
                            <label>
                                {{ 'lblLinkRedirect' | translate }}
                            </label>
                            <input type="text" class="form-control" name="link_redirect"
                                formControlName="link_redirect">
                        </div>

                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" name="title" formControlName="title" id="title"
                                autocomplete="off">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="parent_name">{{ 'lblparent_name' | translate }}</label>
                                    <div>
                                        <select formControlName="parent_id" class="form-control selectpicker"
                                            id="parent_name">
                                            <option selected [value]='0'>Chọn trang cha</option>
                                            <option *ngFor="let page of listService" [value]="page.id"
                                                [ngClass]="{'d-none': id > 0 && id == page.id  }">
                                                {{page.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="orders">{{ 'lblOrders' | translate }}</label>
                                    <input type="number" min="0" class="form-control" name="order" id="orders"
                                        autocomplete="off" formControlName="orders"
                                        placeholder="{{ 'lblOrders' | translate }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="d-flex justify-content-start">
                            <div class="form-group mb-1">
                                <label class="mb-1 ml-1">{{ 'lblImages' | translate }}</label>
                                <div class="imagesThumb" *ngIf="images" style="height: 110px;">
                                    <div *ngFor="let item of images.data ; let i = index">
                                        <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                        <span (click)="images._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                            class="change">
                                            <i class="far fa-image"></i>
                                        </span>
                                        <span (click)="images._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span (click)="images._push($event)" *ngIf="item.type==2" class="add">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                    <input type="file" (change)="images._onchange($event)"
                                        [accept]="images.typeAcceptImages">
                                </div>
                                <small style="margin-left: 12px;"> 400px x 250px </small>
                            </div>

                        </div>

                        <div class="form-group ml-1 pt-3">
                            <label for="description">{{'lblDescription' | translate}}</label>
                            <textarea formControlName="description" class="form-control" autocomplete="off"
                                id="description" rows="4"></textarea>
                        </div>

                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="keywords">{{'lblKeyword' | translate}}</label>
                            <input type="text" class="form-control" (keyup.enter)="tags._keyup($event)" id="keywords"
                                autocomplete="off" placeholder="{{ 'placeholderKeyword' | translate }}">
                            <div class="keywords mt-1">
                                <button type="button" class="btn btn-info mr-2 mt-2"
                                    *ngFor="let item of tags.dataList">{{item}}
                                    <span class="fas fa-times-circle" (click)="tags._remove(item)"></span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="info">{{'service.content' | translate }}</label>
                            <ckeditor id="info" [config]="globals.configCKeditor" data="info" formControlName="info">
                            </ckeditor>
                        </div>
                        <div class="form-group">
                            <label for="detail">{{'lblDetail' | translate }}</label>
                            <ckeditor id="detail" [config]="globals.configCKeditor" data="detail"
                                formControlName="detail">
                            </ckeditor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">
                        {{ (fm.value.status == 1 ? 'status.on' : 'status.off') | translate }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-success float-right">
                {{'btn.save' | translate }}</button>
            <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                class="btn btn-primary float-right mr-2">
                {{'btn.back' | translate }}
            </button>
        </div>
    </div>
</form>