<div class="breadcrumb-inner py-5">
  <div class="container-main">
    <div class="container-fluid">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent p-0">
          <li class="breadcrumb-item">
            <a [routerLink]="['/']">{{ 'lblHome' | translate }}</a>
          </li>
          <li class="breadcrumb-item" aria-current="page">
            <a [routerLink]="['/' + data.parent_link]" *ngIf="data.parent_link != null">
              {{ data.parent_name ? data.parent_name : data.name }}
            </a>
            <span *ngIf="data.parent_link == null">
              {{ data.parent_name ? data.parent_name : data.name }}
            </span>
          </li>
        </ol>
      </nav>

      <h1 class="color mt-4">{{ data.name }}</h1>
    </div>
  </div>
</div>