.user {
    &__label {
        font-size: 15px;
    }

    &__name {
        font-size: 18px;
    }

    &-tab {
        &__btn {
            font-size: 16px;

            &-icon {
                width: 25px;

                font-size: 15px;
            }
        }
    }
}
