<div class="modal-body" aria-hidden="false">
     <div class="modal--close">
          <button type="button" class="close modal__btn rounded-circle" (click)="modalRef.hide()">
               <i class="fal fa-times"></i>
          </button>
     </div>
     <app-fm [component]="'modal'" [type]="type" (event)="eventOutput($event)"></app-fm>
</div>