@import 'src/style/mixins';

%bg-box {
  background-color: $primaryColor;
  transition: 0.2s linear;
}

.box {
  transition: 0.5s;
  &:hover {
    border-color: transparent !important;
    transform: translateY(1px);
    &::before,
    &::after {
      width: 100%;
    }
  }
  &:hover &-container {
    &::before,
    &::after {
      transition-delay: 0.2s;
      height: 100%;
    }
  }
  &::before {
    @include position(0, 2px, 0, 0, unquote(''), unquote(''), unquote(''));
    @extend %bg-box;
  }
  &::after {
    @include position(0, 2px, unquote(''), unquote(''), 0, 0, unquote(''));
    @extend %bg-box;
  }
  &-container {
    &::before {
      @include position(2px, 0, 0, unquote(''), unquote(''), 0, unquote(''));
      @extend %bg-box;
    }
    &::after {
      @include position(2px, 0, unquote(''), 0, 0, unquote(''), unquote(''));
      @extend %bg-box;
    }
  }
  &__img {
    height: 20rem;
    transition: 0.5s;
    &:hover &-overlay {
      visibility: visible !important;
    }
    &-overlay {
      @extend %position-top-left;
      z-index: 1;
      span {
        $space: 4.5rem;
        width: $space;
        height: $space;
        line-height: $space;
        font-size: 1.8rem;
        background-color: rgba(51, 51, 51, 0.75);
      }
    }
  }
  &__title {
    @extend %text-truncate-2;
    height: 4.2rem;
    font-size: 1.8rem;
    color: $textColor;
  }
  &__info {
    color: $productColor;
    &-view::after {
      content: '•';
      margin: 0 0.5rem;
    }
  }
  &__group {
    color: $productColor;
  }
}
