<div class="box position-relative bg-white border rounded">
  <div class="box-container position-relative p-3">
    <a [routerLink]="['/' + item.parent_link + '/' + item.link]" class="box__img d-block position-relative text-center">
      <img width="232.5" height="200" class="mw-100" [lazyLoad]="item.images"
        [defaultImage]="defaultImage" [alt]="item.name" />
      <div class="box__img-overlay invisible flex-center w-100 h-100">
        <span class="text-center color rounded-circle">
          <i class="fal fa-play"></i>
        </span>
      </div>
    </a>
    <div class="box-inner p-2">
      <div class="box__info">
        <span class="box__info-view small position-relative">{{ item.views }} {{ 'FEbtn.view' | translate }}</span>
        <span class="small" *ngIf="item.maker_date">{{ calculateDiff(item.maker_date) }}
          {{ 'FEProduct.days_ago' | translate }}</span>
      </div>
      <a [routerLink]="['/' + item.parent_link + '/' + item.link]" class="d-inline-block text-decoration-none mt-3">
        <h3 class="box__title font-weight-bold">{{ item.name }}</h3>
      </a>
      <p class="box__group small">{{ item.parent_name }}</p>
    </div>
  </div>
</div>