<div class="card">
    <div class="card-header font-weight-bold">Import học viên</div>

    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center px-4">
            <div [class.import-tab--active]="step === 1" class="rounded-circle import-tab text-center text-white">1
            </div>
            <hr class="w-100 my-0 mx-2" />
            <div [class.import-tab--active]="step === 2" class="rounded-circle import-tab text-center text-white">2
            </div>
            <hr class="w-100 my-0 mx-2" />
            <div [class.import-tab--active]="step === 3" class="rounded-circle import-tab text-center text-white">3
            </div>
        </div>

        <div class="d-flex justify-content-between mt-2">
            <div [class.font-weight-bold]="step === 1" class="small">Chọn file Excel</div>
            <div [class.font-weight-bold]="step === 2" class="small mr-4">Danh sách dữ liệu</div>
            <div [class.font-weight-bold]="step === 3" class="small">Hoàn thành</div>
        </div>

        <div *ngIf="isLoading" class="text-center mt-5">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <ng-template [ngIf]="!isLoading">
            <div [ngSwitch]="step" class="mt-5">
                <div *ngSwitchDefault>
                    <div class="input-group w-75 mx-auto">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-success" type="button" id="upload" style="cursor: default;">Upload</button>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input cursor-pointer" id="choose-file"
                                aria-describedby="upload" (change)="onFileChange($event)" multiple="false"
                                accept=".xlsx">
                            <label class="custom-file-label mb-0" for="choose-file">Choose file</label>
                        </div>
                    </div>
                    <div class="mt-3">
                        <span class="text-danger mr-1">*</span>
                        <span class="text-dark">Hướng dẫn Format file: </span>
                        <a href="http://seazen.edu.vn/public/file/excel/tutorial-excel.jpg" target="_blank">Link</a>
                    </div>
                    <div class="table-responsive mt-5">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let col of cstable.cols" [ngClass]="{'d-none': !col.show}">
                                        <ng-container [(ngSwitch)]="col.field">
                                            <span *ngSwitchDefault class="text-nowrap font-weight-normal">
                                                {{col.title | translate}}
                                                <span *ngIf="arrIncludes.includes(col.field)"
                                                    class="text-danger">*</span>
                                            </span>
                                            <div *ngSwitchCase="'action'" class="">
                                                <!-- <div class="custom-control custom-checkbox">
                                                                            <input type="checkbox" class="custom-control-input"
                                                                                id="checkAll"
                                                                                (change)="handleCheckAllChange($event.target.checked)"
                                                                                [checked]="handleCheckAll()" />
                                                                            <label
                                                                                class="custom-control-label cursor-pointer user-select-none"
                                                                                for="checkAll">
                                                                            </label>
                                                                        </div> -->
                                                <a href="http://seazen.edu.vn/public/file/excel/import-student.xlsx"
                                                    download>
                                                    <i class="fas fa-download"></i>
                                                </a>
                                            </div>
                                        </ng-container>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let item of cstable.data; index as i"
                                                        [class.import-row--valid]="item.isValid">
                                                        <td *ngFor="let col of cstable.cols" [ngClass]="{'d-none': !col.show}">
                                                            <ng-container [(ngSwitch)]="col.field">
                                                                <div *ngSwitchDefault class="text-nowrap small">
                                                                    {{item[col.field]?.length ? item[col.field] : '&nbsp;'}}
                                                                </div>
                    
                                                                <span *ngSwitchCase="'index'">
                                                                    {{ i + 1 }}
                                                                </span>
                    
                                                                <span *ngSwitchCase="'action'">
                                                                    <input *ngIf="!item.isValid" type="checkbox" class="cursor-pointer"
                                                                        [checked]="item.isChecked"
                                                                        (change)="item.isChecked = $event.target.checked" />
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                    </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <ng-template [ngSwitchCase]="2">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h4 class="lead d-inline-block mb-0">
                            {{processTitle}}
                            <span class="font-weight-bold">
                                {{ cstable.data.length }}
                            </span>
                        </h4>

                        <div class="d-flex align-items-center justify-content-between w-50">
                            <div class="">
                                <div class="d-inline-flex align-items-center rounded-pill border border-success px-3">
                                    <span class="">
                                        {{ 'Đã chọn' | translate }}
                                    </span>
                                    <span class="font-weight-bold ml-1">
                                        <!-- calculator cstable.data with isChecked -->
                                        {{ calculateChecked() }}
                                        <!-- {{ cstable.data.length }} -->
                                    </span>
                                </div>
                                <div
                                    class="d-inline-flex align-items-center rounded-pill border border-secondary px-3 ml-2">
                                    <span class="">
                                        {{ 'File Excel' | translate }}
                                    </span>
                                    <span class="font-weight-bold ml-1">
                                        {{ lengthExcelFile }}
                                    </span>
                                </div>
                            </div>

                            <input type="text" (keyup)="cstable._search()" [(ngModel)]="listFinal.search"
                                [ngModelOptions]="{standalone: true}" class="form-control form-control-sm w-50"
                                [placeholder]="'search.lblList' | translate">
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let col of cstable.cols" [ngClass]="{'d-none': !col.show}"
                                        (click)="cstable._sorting(col.field)"
                                        [ngClass]="{'cursor-pointer': col.filter,'d-none': !col.show}">
                                        <ng-container [(ngSwitch)]="col.field">
                                            <span *ngSwitchDefault class="text-nowrap">
                                                {{col.title | translate}}
                                                <span *ngIf="arrIncludes.includes(col.field)"
                                                    class="text-danger">*</span>

                                                <i *ngIf="cstable.sorting.field == col.field" class="fa ml-2"
                                                    [ngClass]="{'fa-long-arrow-down': cstable.sorting.sort == 'asc','fa-long-arrow-up': cstable.sorting.sort == 'desc'}"></i>
                                            </span>

                                            <div *ngSwitchCase="'action'" class="">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="checkAll"
                                                        (change)="handleCheckAllChange($event.target.checked)"
                                                        [checked]="handleCheckAll()" />
                                                    <label class="custom-control-label cursor-pointer user-select-none"
                                                        for="checkAll">
                                                    </label>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let item of cstable.data  | servicePipeFilter : listFinal.search : listFinal.field; index as i">
                                    <td *ngFor="let col of cstable.cols" [ngClass]="{'d-none': !col.show}"
                                        [class.bg-danger]="item.idno?.length > 0 ? (arrIncludes.includes(col.field) && !item[col.field]?.length && col.field !== 'type_idno_1' && col.field !== 'type_idno_2' && col.field !== 'type_idno_3' && item.isValid) : (arrIncludes.includes(col.field) && !item[col.field]?.length && item.isValid)">
                                        <ng-container [(ngSwitch)]="col.field">
                                            <div *ngSwitchDefault class="text-nowrap small">
                                                {{item[col.field]?.length ? item[col.field] : '&nbsp;'}}
                                            </div>

                                            <span *ngSwitchCase="'index'">
                                                {{ i + 1 }}
                                            </span>

                                            <span *ngSwitchCase="'birth_date'" class="text-nowrap small">
                                                {{ item[col.field] | date: 'dd/MM/yyyy' }}
                                            </span>

                                            <span *ngSwitchCase="'idno_date'" class="text-nowrap small">
                                                {{ item[col.field] | date: 'dd/MM/yyyy' }}
                                            </span>

                                            <span *ngSwitchCase="'action'">
                                                <input *ngIf="!item.isValid" type="checkbox" class="cursor-pointer"
                                                    [checked]="item.isChecked"
                                                    (change)="item.isChecked = $event.target.checked" />
                                            </span>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>

                <ng-template [ngSwitchCase]="3">
                    <h4 class="lead my-3 text-center">
                        Đã nạp thành công
                        <span class="text-uppercase text-success h4">
                            {{ cstable.data.length}}
                            dòng
                        </span>
                        dữ liệu
                    </h4>

                    <div class="d-flex justify-content-center">
                        <!-- <button class="btn btn-transparent btn-sm" (click)="isShow = true">Xem dữ liệu</button> -->
                        <button (click)="step = 1" class="btn btn-primary btn-sm">Tiếp tục</button>
                    </div>

                    <div class="table-responsive mt-4" *ngIf="isShow">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th *ngFor="let col of cstable.cols" [ngClass]="{'d-none': !col.show}">
                                        <ng-container [(ngSwitch)]="col.field">
                                            <span *ngSwitchDefault class="text-nowrap">{{col.title | translate}}</span>
                                        </ng-container>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cstable.data; index as i">
                                    <td *ngFor="let col of cstable.cols" [ngClass]="{'d-none': !col.show}">
                                        <ng-container [(ngSwitch)]="col.field">
                                            <span *ngSwitchDefault class="text-nowrap small">{{item[col.field]}}</span>

                                            <span *ngSwitchCase="'index'">
                                                {{ i + 1 }}
                                            </span>
                                        </ng-container>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </div>
        </ng-template>
    </div>

    <div class="card-footer">&nbsp;</div>
</div>

<div class="fixed-action-btn text-center" *ngIf="step === 2">
    <button (click)="handleSubmit()" type="submit"
        class="getlistadd btn d-flex align-items-center justify-content-center text-white">
        <i class="fas fa-plus"></i>
    </button>
</div>