<div class="row">
    <div class="col-12 form-info">
        <h4>{{ 'FECart.cartDetail' | translate}}</h4>
        <div class="mt-3 d-flex justify-content-between">
            <h6>{{ 'FECart.code' | translate }}: {{ cart.code }}</h6>
            <h6>{{ 'FECart.dayStart' | translate }}: {{ cart.day_start | date: 'dd/MM/yyyy' }}</h6>
        </div>
        <div class="row mt-3">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <h5 style="font-size: 16px;"
                            class="mb-3 font-weight-bold">
                            {{ 'FECart.infoReceiver'| translate }}</h5>
                        <div class="mb-1">{{ 'FECart.name' | translate }}:
                            <span style="font-size: 15px;font-weight: 600;">{{ cart.name }}</span>
                        </div>
                        <div class="mb-1">{{ 'lblPhone' | translate }}:
                            <span style="font-size: 15px;font-weight: 600;">{{ cart.phone }}</span>
                        </div>
                        <div class="mb-1">{{ 'lblAddress' | translate }}:
                            <span style="font-size: 15px;font-weight: 600;">{{ cart.delivery_address }}</span>
                        </div>
                        <div class="mb-1">{{ 'lblNote' | translate }}:
                            <span style="font-size: 15px;font-weight: 600;"
                                  *ngIf="cart.note">{{ cart.note }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                <div class="card">
                    <div class="card-body">
                        <h5 style="font-size: 16px;"
                            class="mb-3 font-weight-bold">{{ 'FECart.order'| translate }}</h5>
                        <div class="mb-1">

                            {{ 'FECart.totalProduct' | translate}}:
                            <span class="font-weight-bold">{{ cart.amount_total }}</span>
                        </div>
                        <div class="mb-1">
                            <span class="name-total">{{ 'FECart.priceTotal' | translate }}:</span>
                            <span class="text-danger"
                                  style="font-size: 15px;font-weight: 600;">
                                {{ cart.price_total | number }}đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="pt-4">
            <h4>{{ 'FECart.productList' | translate }}</h4>
            <div class="card-body bg-white border-bottom"
                 *ngFor="let item of detail; let i = index">
                <div class="d-flex flex-nowrap">
                    <div class="images mr-3">
                        <a [routerLink]="[ '/' + item.parent_link + '/' + item.link ]">
                            <img [defaultImage]="'../../../../assets/img/default.jpg'"
                                 [lazyLoad]="item.images"
                                 [title]="item.name"
                                 [alt]="item.name"
                                 height="100%"
                                 width="100%"
                                 style="object-fit: cover">
                        </a>
                    </div>
                    <div class="content d-flex justify-content-between flex-nowrap ">
                        <div class="description">
                            <a class="name text-dark mb-2 d-inline-block"
                               [routerLink]="[ '/' + item.parent_link + '/' + item.link ]">
                                {{item.name}}
                            </a>
                            <div class="mb-2"
                                 *ngFor="let rows of item.attribute">
                                {{rows.name}}: <span class="font-weight-bold">{{rows.valueChoose}}</span>
                            </div>
                        </div>
                        <div class="detail align-items-baseline d-flex  flex-nowrap justify-content-between">
                            <div class="price d-inline-block font-weight-bold mr-4">
                                {{item.price > 0 ? (item.price | number)+ 'đ' : ('lblContact' | translate) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>